.token-card {
    border: 1px solid;
    padding: 37px;

    .mg-btm {
        margin-bottom: 0px;
    }

    .redcolor {
        color: red;
    }

    .warning-message {
        margin: 10px 0px 10px 14px;
    }
}
