<div class="card">
  <div class="header">
    <h2>Secrets</h2>
    <small>This is the List of Secret Entries used for storing sensitive information for Currently Selected Brand</small>
  </div>
</div>

<div class="card" *ngIf="!isLoading">
  <div class="body">
    <div class="row clearfix">
      <div class="col-sm-3">
        <button mat-button type="button" class="btn btn-link bg-teal waves-effect float-left" (click)="addSecret();">
          <i class="material-icons">add_box</i>
          <span>Add New Secret</span>
        </button>
      </div>

      <div class="col-sm-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Secret Entry" [(ngModel)]="filterString">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!secrets.length">
      <div class="col-md-12"><h4>No Secret Entries Found</h4></div>
    </div>
    <cms-data-table *ngIf="secrets.length"
                    [customTableData]="secrets"
                    [customTableColumns]="tableColumns"
                    [filterString]="filterString"
                    [filterProperties]="filterProperties"
                    [actions]="['remove', 'onPageEdit']"
                    (onPageEditTableElement)="editSecret($event)"
                    (onRemoveTableElement)="removeSecret($event)">
    </cms-data-table>
  </div>
</div>
