.header-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #111;
}

small {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    line-height: 15px;
}
