<div class="card">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Homepage Event Hubs
      <small>Maximum event hubs: {{ maxHubsAmount }}</small>
    </h2>
  </div>
</div>
<div class="card">
  <div class="body">
    <!-- search and download button.-->
    <div class="row clearfix">
      <div class="col-md-3">
        <button (click)="createHub()" type="button" [disabled]="isMaxHubAmount()" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create Event Hub</span>
        </button>
      </div>
      <div class="col-md-2">
        <download-cvs [cvsData]="hubs" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
    </div>

    <cms-data-table *ngIf="hubs && hubs.length > 0"
                    [customTableData]="hubs"
                    [customTableColumns]="dataTableColumns"
                    [actions]="['remove', 'edit']"
                    [reorder]="false"
                    (onRemoveTableElement)="removeHandler($event)">
    </cms-data-table>

    <div *ngIf="getDataError">
      Request Error
    </div>
  </div>
</div>

