@import 'global.variables.scss';

$spinner-border-color: rgba(13,48,100, 0.5);
$spinner-border-accent-color: rgb(13,48,100);
$spinner-size: 15px;
$small-text-size: 12px;

.free-bets-panel {
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: relative;
  padding: 0 4px;
}

.total-info-block{
  background: $color-white;
  font-family: $base-font-family;
  line-height: 13px;
  padding: 13px 12px;
  margin-bottom: 9px;
  box-shadow: 0px 1px 0px $lGrayLight;
  b{
    color: $color-gray-darkest;
  }
  .free-bet-available,
  .free-bet-total{
    width: 50%;
    display: inline-block;
  }
  .free-bet-available{
    font-size: $small-text-size;
    color: $color-gray-darkest;
    line-height: 14px;
  }
  .free-bet-total {
    font-size: 11px;
    line-height: 13px;
    padding-right: 5px;
    b {
      color: #41494E;
    }
  }
}

.free-bet-item {
  padding: $small-text-size;
  font-size: $font-size-md;
  background: $color-white;
  margin-bottom: 1px;
  @include display-flex();
  @include justify-content(space-between);
  @include flex-direction(column);

  @media (min-width: $tabletPointLow) {
    padding: 14px 12px;
  }
}

.free-bet-item__value {
  display: inline-block;
  color: $lGray;
  text-transform: uppercase;
  font-family: $base-font-family;
  font-weight: bold;
  background: $lGrayLight;
  border-radius: 0px 2px 2px 0px;
  font-size: 11px;
  line-height: 13px;
  padding: 1px;
  margin: 0;
}

.free-bet-item__expiration {
  font-family: $base-font-family;
  font-size: 13px;
  line-height: 16px;
  margin: 5px 0;
  color: #41494E;
  display: block;
  font-weight: 700;

  span:nth-child(2) {
    font-weight: 500;
    text-transform: lowercase;
  }
}

.free-bet-item__bet-type {
  margin-bottom: 1px;
  font-family: $base-font-family;
  color: rgba(65, 73, 78, 0.65);
  font-size: 13px;
  line-height: 16px;
}

.free-bet-item__display-text {
  color: $lBlack-light;
  margin-bottom: 1px;
  font-family: $base-font-family;
  
  & > * {
    vertical-align: middle;
  }
}

.free-bet-item__go-betting {
  position: relative;
  color: #093864;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 15px;
  font-weight: bold;
  font-family: $base-font-family;
  font-size: 11px;
  line-height: 13px;
  border: none;
  background: none;

  &:not([disabled])::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 6px;
    @include transform(scaleY(1.1) rotate(45deg));
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #093864;
  }

  &[disabled] {
    color: $lGray-bg;
    opacity: 1;
    &::before, &::after {
      content: '';
      position: absolute;
      width: $spinner-size;
      height: $spinner-size;
      border-radius: 50%;
      border-width: 2px;
      left: calc(50% - calc(#{$spinner-size}/2));
    }
    &::after {
      border: 2px solid $spinner-border-color;
    }
    &:before {
      border: 2px solid transparent;
      @include animation(loader 1.2s infinite linear);
      border-top-color: $spinner-border-accent-color;

    }
  }
}

.free-bet-group__header {
  background: $lGrayLight;
  display: flex;
  justify-content: space-between;
  padding: 13px 12px;
  margin: 5px 4px 1px;

  span {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: $small-text-size;
    line-height: 14px;
    color: #093864;
  }
}
