.bs-odds-boost-info-dialog .modal {
  .modal-header {
    text-transform: capitalize;
    font-size: 13px;
  }
  .btn-list {
    text-align: right;
    .btn-style2 {
      width: 100px;
      height: 35px;
      padding-left: 10px;
    }
  }
}

odds-boost-page {
  .odds-boosts-description *,
  .info-content-container .content * {
    font-size: 13px;
    line-height: normal;
  }
}
