.nomodules {
    font-size: 25px;
    text-align: center;
}

.globalsup {
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
}

::ng-deep .custom {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }