    .ng-select.ng-custom ::ng-deep.ng-value-icon.left.ng-star-inserted {
        float: right !important;
        font-size: 25px;
        padding-left: 4px;
        color: #9b0e0e;
    }

    .ng-select.ng-custom ::ng-deep.ng-value-icon:hover {
        color: #9b0e0e !important;
    }

    .ng-select.ng-custom ::ng-deep.ng-value {
        background-color: #ededed !important;
        padding: 7px 4px !important;
        line-height: 12px;
    }

    .ng-select.ng-custom ::ng-deep.ng-value-label {
        color: black;
    }

    .ng-select.ng-custom ::ng-deep.ng-clear-wrapper {
        display: none;
    }

   .ng-select.ng-custom ::ng-deep.ng-dropdown-panel{
    border-radius: 3px;
    } 

    .ng-select.ng-custom ::ng-deep.ng-dropdown-panel-items{
        max-height: 113px !important;
    } 
