@import 'global.variables.scss';

.tab-wrapper {
  background-color: $color-white;
  border-radius: 21px;
  box-shadow: $quick-filter-box-shadow;
  margin: 0 5px;
  min-width: 30px;

  .tab {
    &.coral-background {
      color: $info-gray-color;
      font-size: $font-size;
      letter-spacing: $quick-filter-letter-spacing;
      margin: 0;
      padding: 9px 10px;
      text-align: center;
      white-space: nowrap;
      font-family: $font-increment-number;

      &:hover {
        background-color: $color-blue;
        border-radius: 21px;
        color: $color-white;
        padding: 9px 10px;
        cursor: pointer;
      }

      &:active {
        background-color: $color-blue-rich-heavy;
        border-radius: 21px;
        color: $color-white;
        padding: 9px 10px;
      }
    }
  }

  &.active {
    .tab {
      color: $color-white;
      border-radius: 21px;
      padding: 9px 10px;
      background-color: $color-blue;
    }
  }

  &.active-lads {
    .tab {
      color: $color-white;
      border-radius: 21px;
      padding: 9px 10px;
      background-color: $color-blue-alt;
      color: $color-white !important;
    }
  }

  .tab {
    &.lads-background {
      color: $info-gray-color;
      font-size: $font-size;
      letter-spacing: $quick-filter-letter-spacing;
      margin: 0;
      padding: 9px 10px;
      text-align: center;
      white-space: nowrap;
      font-family: $font-increment-number;

      &:hover {
        background-color: $color-blue-alt;
        border-radius: 21px;
        color: $color-white;
        padding: 9px 10px;
        cursor: pointer;
      }

      &:active {
        background-color: $color-blue-alt-heavy;
        border-radius: 21px;
        color: $color-white;
        padding: 9px 10px;
      }
    }
  }
}