@import 'global.variables.scss';
.countdown {
  margin: 0 4px;
  text-transform: capitalize;
  color: $madison;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  white-space: normal;
  font-size: 8px;
}

.value {
  color: $madison;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-size: 8px !important;
  font-weight: 700 !important;
  white-space: normal;
  background-color: rgb(255, 242, 112);
  padding: 4px 4px 4px 0px;
}
.betpackReview_value {
  color: $color-gray-dark;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-size: 11px !important;
  font-weight: 700 !important;
  white-space: normal;
  padding: 4px 4px 4px 4px;
}
.label {
  color: $madison;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-size: 8px !important;
  font-weight: 700 !important;
  white-space: normal;
  background-color: rgb(255, 242, 112);
  padding: 4px 0px 4px 4px;
  white-space: nowrap;
}
.betpackReview_label {
  color: $color-gray-dark;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-size: 11px !important;
  font-weight: 700 !important;
  white-space: normal;
  padding: 4px 0px 4px 1px;
}
