@import 'global.variables.scss';
@mixin bs-remove-outline() {
  outline: transparent 0;
  box-shadow: none;
}
.show-hide-accordion {
  cursor: pointer;
  color: #4a90e2;
  height: 7px;
  font-weight: bold;
  font-size: 11px;
  transform: rotate(-360deg);
  font-stretch: condensed;
  text-transform: uppercase;
  font-family: $base-font-family;
  .show-accordion {
    width: fit-content;
  }
  .hide-accordion {
    width: fit-content;
  }
  svg {
    width: 10px;
    height: 6px;
    flex-grow: 0;
    margin: 3px 0px 0px 5px;
    fill: #4a90e2;

  }
}
.stake-input>input {
  $shadow-color: rgba(162, 162, 162, 0.06);
  &:focus {
    @include bs-remove-outline();
  }
  &.dk-active-input {
    border: $bs-stake-input-border-focused !important;
    box-shadow: $bs-stake-input-shadow-focused-out , $bs-stake-input-shadow-focused-in !important;
  }
}
.numbercol {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  opacity: 1;
  background-color: #efeff3;
  margin-left: 12px;
  font-stretch: condensed;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: bold;
  font-family: $base-font-family;

  @media (min-width: $tabletPoint) {
      margin-left: 8px;
      font-size: 13px;
      width: 25px;
      height: 25px;
    }
}
.remove-line {
  width: 12px;
  height: 12px;
  opacity: 0.85;
  border-radius: 0.3px;
  fill: #777;
  @media (min-width: $tabletPoint){
    width: 10px;
    height: 10px;
  }
}
.lotto-heading {
  font-size: 15px;
  font-weight: bold;
}
.lotto-desc {
  font-size: 12px;
  font-weight: normal;
}

.lotto-text-format {
  &.lotto-text{
    padding-top:0px;
  }
  padding-top: 4px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b2b2b;
}
.lotto-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &.estreturns{
    padding-top: 8px;
  }
}
.lotto-wrapper {
  border: 1px solid #efeff3;
}
.margin-layout {
  margin-bottom: 4px;
}
.lotto-mul-stake {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}
.lotto-stake {
  width: 80px !important;
  height: 35px !important;
  padding: 10px 10px 10px 21px !important;
  border-radius: 2px !important;
  box-shadow: inset 4px 4px 7px 0 rgba(162, 162, 162, 0.06);
  border: solid 1px rgba(43, 43, 43, 0.2) !important;
  align-self: flex-end;
  text-align: center;
  font-size: 14px !important;
  line-height: 30px;
  color:$lBlack-medium !important;
  display: inline-block;
  background: transparent !important;
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: 400;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.lotto-details-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.end-flex-layout{
  align-items: flex-end;
  white-space: pre;
}
.lotto-padding {
  padding: 12px;
}
.lotto-side-pad {
  padding: 0px 12px;
  align-items: center;
}
.est-Returns-Amt {
  font-size: 12px;
  font-weight: bold;
}
.lotto-top-pad {
  padding: 12px 12px 0;
}

.on-expand{
  .lotto-heading{
    font-size: 12px;
    font-weight: bold;
  }
}
.padng {
  background: #fff;
  padding-top: 12px;
}

.lotto-summary {
  padding: 0px 12px 12px;
}
.lotto-content {
  width: 100%;
  background: #ffffff;
  max-height: 100%;
}

.bs-lotto-stake-body{
  position: relative;
}
.stake-input > input {
  $shadow-color: rgba(162, 162, 162, 0.06);
&:focus {
  @include bs-remove-outline();
}

}

.currency-label{    
  color: $lBlack-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  z-index: 0;
  font-size: 14px;
  overflow: hidden;
 }


.lotto-stake-title-lines{
  font-weight: normal !important;
  text-transform: lowercase;
}

.lotto-btm-pad{
padding-bottom: 5px;
}
.bs-stake-type{
  color: #777
}
