.col-md-8 {
    border: 2px solid grey;
    width: 100%;
    height: 180px;
    padding: 30px
}
.col-md-7 {
    border: 2px solid grey;
    width: 100%;
    height: 160px;
    padding: 20px
}
.col-sm-4 {
    padding-top: 20px
}
.center-theme1-corl-top,.center-theme5-corl-top,.center-theme6-corl-top {
    width: auto;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(0deg, #D9DBDC 0%, #ECECED 100%);
    color: #07294B;
}

.center-theme1-corl-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #07294B;
    border: #07294B;
    cursor: none;
    font-weight: 700;
}

.center-theme2-corl-top,.center-theme3-corl-top,.center-theme4-corl-top {
    width: auto;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(0deg, #07294B 0%, #084D8D 100%);
    color: #E9E9E9;
}

.center-theme2-corl-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #41494E;
    border-radius: 2px;
    background: #ECECED;
    border: #ECECED;
    cursor: none;
    font-weight: 700;
}

.center-theme3-corl-btn,.center-theme6-corl-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #78BE20;
    border: #78BE20;
    cursor: none;
    font-weight: 700;
}

.center-theme4-corl-btn,.center-theme5-corl-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #07294B;
    border-radius: 2px;
    background: #FFCD00;
    border: #FFCD00;
    cursor: none;
    font-weight: 700;
}

.right-theme1-corl-top,.right-theme5-corl-top,.right-theme6-corl-top {
    width: auto;
    height: 130px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(270deg, #D9DBDC 0%, #FFFFFF 100%);
}

.right-theme1-corl-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #07294B;
    border: #07294B;
    cursor: none;
    font-weight: 700;
}

.right-theme2-corl-top,.right-theme3-corl-top,.right-theme4-corl-top {
    width: auto;
    height: 130px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(270deg, #084D8D 0%, #07294B 100%);
    color: white;
}

.right-theme2-corl-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #41494E;
    border-radius: 2px;
    background: #ECECED;
    border: #ECECED;
    cursor: none;
    font-weight: 700;
}

.right-theme3-corl-btn, .right-theme6-corl-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #78BE20;
    border: #78BE20;
    cursor: none;
    font-weight: 700;
}

.right-theme4-corl-btn, .right-theme5-corl-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #41494E;
    border-radius: 2px;
    background: #FFCD00;
    border: #FFCD00;
    cursor: none;
    font-weight: 700;
}

.center-theme1-top,.center-theme4-top {
    width: auto;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(0deg, #D9DBDC 0%, #FFFFFF 100%);
    color: #2B2B2B;
}

.center-theme1-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #252835;
    border: #252835;
    cursor: none;
    font-weight: 700;
}

.center-theme2-top,.center-theme3-top {
    width: auto;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(0deg, #252835 0%, #3B4054 100%);
    color: #E9E9E9;
}

.center-theme2-btn, .center-theme4-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #8BBD23;
    border: #8BBD23;
    cursor: none;
    font-weight: 700;
}

.center-theme3-btn {
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #252835;
    border-radius: 2px;
    background: #E9E9E9;
    border: #E9E9E9;
    cursor: none;
    font-weight: 700;
}

.right-theme1-top,.right-theme4-top {
    width: auto;
    height: 130px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(270deg, #D5D5D5 0%, #E9E9E9 100%);
    color: #2B2B2B;
}

.right-theme1-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #252835;
    border: #252835;
    cursor: none;
    font-weight: 700;
}

.right-theme2-top, .right-theme3-top {
    width: auto;
    height: 130px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: linear-gradient(270deg, #252835 0%, #3B4054 100%);
    color: #E9E9E9;
}

.right-theme2-btn, .right-theme4-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #FFFFFF;
    border-radius: 2px;
    background: #8BBD23;
    border: #8BBD23;
    cursor: none;
    font-weight: 700;
}

.right-theme3-btn {
    padding: 10px;
    height: 80px;
    width: 170px;
    color: #2B2B2B;
    border-radius: 2px;
    background: #E9E9E9;
    border: #E9E9E9;
    cursor: none;
    font-weight: 700;
}

.bg-align-right-theme1-btn {
    padding: 10px;
    height: 36px;
    width: 100%;
    color: #252835;
    border-radius: 2px;
    background: #FAC031;
    border: #E9E9E9;
    cursor: pointer;
    font-weight: 700;
}

.bg-align-right-theme1 {
    position: relative;
    width: calc(100%);
    margin-left: 0px;
    margin-bottom: 0px;
    height: 120px;
    bottom: 15px;
    .img {
      width: 100%;
      border-radius: 12px;
      height: 142px;
    }
    .main-description{
        margin-bottom: 10px;
        .sub-description {
            font-size:  14px;
            font-weight: 700;
            line-height: 12.89px;
            margin-bottom: 10px;
        }
    }
    
    .description {
        padding: 12px;
    }

    .description {
      position: absolute;
      top: 15px;
      right: 14%;
      color: #E9E9E9;
      font-style: normal;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      border-radius: 2px;
      justify-content: center;
      font-size: 11px;
    }
}