.horserace.race-grid {
    .rg-header {
        .rg-stream-icon {
            width: 39px;
            height: 15px;
        }
        .rg-extraplace-icon {
            width: 78px;
            height: 15px;
        }
    }
}  