.container {
   display: flex;
   flex-direction: column;
   margin-top: -10px;
   padding: 0 4px;
}
.surface-bets-carousel {
    order: 1;
}
.highlight_carousel {
    order: 2;
    margin-top: -10px;
}