.price-input {
  width: 100px;
}
.info-msg {
  color: grey;
}
.select-all {
  margin: 0px 16px;
  line-height: 3em;
  ::ng-deep .mat-checkbox {
    .mat-checkbox-layout {
      margin-bottom: 0;
      .mat-checkbox-inner-container {
        width: 16px;
        height: 16px;
      }
    }
  }
}
::ng-deep {
  .fanzone-inactive-item span.mat-option-text::after {
    content: '(In-active)';
    color: red;
  }
  .mat-autocomplete-panel {
    max-height: 240px !important;
  }
}

.close {
  border: 1px solid black;
  color: white;
  background-color: green;
  position: relative;
  top: 11px;
}

.dropDown {
  position: absolute;
  right: 0%;
  top: 50%;
  cursor: pointer;
}

.showDropDown {
  display: block;
}

.hideDropDown {
  display: none;
}
