@import 'global.variables.scss';
@import './../../assets/styles/modules/show-history-button.scss';

::ng-deep {
 .vn-bma .container-content.jackpot-receipt .single-left {
    display: inline-block;
    width: 50%;
 }
 .share-icon-lads {
   float: right;
 }
 .share-icon-coral {
   float: right;
 }
}
longTxt-stake-returns-wrap {
   display: flex;
}
.pool-flex {
   flex: 4 1 0;
}
.width-20 {
   flex: 1 1 0;
}
.flexWrap {
   display: flex;
}
.marginRight {
   margin-right: 30px;
}
