@import 'global.variables.scss';

list-card {
  padding: 12px 22px 12px 12px;
  color: $list-card-color;
  font-size: $font-size-lg;
  font-family: $list-card-font;
  border-top: 1px solid $list-card-border-color;
  background: $color-white;
  position: relative;
  min-height: 45px;
  cursor: pointer;
  @include display-flex();
  @include flex-wrap(wrap);
  @include align-items();

  .list-card-name {
    color: $list-card-black;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: none;
    }
    &.active {
      background: transparent;
    }
  }

  .list-card-date {
    width: 100%;
    font-size: $font-size-md;
    margin-top: 5px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 12px;
    border: solid $list-card-arrow;
    border-width: 0 2px 2px 0;
    padding: 3px;
    border-radius: 1px;
    @include transform(rotate(-45deg));
  }
}
