cms.base.url={{ cms_base_url }}
siteServer.base.url={{ siteserver_base_url }}
liveServer.endpoint = {{ liveserver_base_url }}
inplay.endpoint={{ inplay_endpoint }}
featured.endpoint={{ featured_endpoint }}
digitalSports.url={{ digital_sports_base_url }}