siteServer.base.url={{ siteserver_base_url }}
remote-betslip.elasticache.host={{ remote_betslip_elasticache_host }}
remote-betslip.elasticache.port={{ remote_betslip_elasticache_port }}
liveserv.url={{ liveserver_base_url }}
bpp.url={{ bpp_base_url }}