<div class="card">
  <div class="header">
    <h2 class="waves-effect waves-block">
      On Boarding Guide
      <small *ngIf="onBoardingGuide">Total active on boarding guides: {{onBoardingGuideAmount.active}}, inactive on boarding guides: {{onBoardingGuideAmount.inactive}}</small>
    </h2>
  </div>
</div>
<div class="card" *ngIf="onBoardingGuide">
  <div class="body">
    <!-- search and download button.-->
    <div *ngIf="onBoardingGuide" class="row clearfix">
      <div class="col-md-3">
        <button (click)="createOnBoardingGuide()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create On Boarding Guide</span>
        </button>
      </div>
      <div class="col-md-3">
        <download-cvs [cvsData]="onBoardingGuide" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For On Boarding Guide" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- main content, config groups list-->
    <div *ngIf="onBoardingGuide">
      <cms-data-table
        [customTableData]="onBoardingGuide"
        [customTableColumns]="dataTableColumns"
        [actions]="['remove','edit']"
        [filterString]="searchField"
        [reorder]="true"
        [filterProperties]="filterProperties"
        (onElementsOrder)="reorderHandler($event)"
        (onRemoveTableElement)="removeOnBoardingGuide($event)">
      </cms-data-table>
    </div>

    <div *ngIf="getDataError">
      Request Error
    </div>
  </div>
</div>
