<breadcrumbs *ngIf="!isLoading" [breadcrumbsData]="breadCrumbs"></breadcrumbs>
<div class="card" *ngIf="racingEDPMarket">
    <div class="header">
        <h2 class="waves-effect waves-block">
            Racing EDP Market: {{racingEDPMarket.name}}
            <create-updated-at-by [collection]="racingEDPMarket"></create-updated-at-by>
        </h2>
    </div>
</div>
<div class="card" *ngIf="racingEDPMarket">
    <form [formGroup]="racingEdpForm">
        <div class="body">
            <div class="row">
                <div class="col-md-2">
                    <span class="mat-label">
                        Name
                    </span>
                </div>
                <div class="col-md-10">
                    <mat-form-field class="full-width" [ngClass]="{'mat-form-field-invalid': !racingEDPMarket.name}">
                        <input matInput formControlName="name"
                         placeholder="Name" [(ngModel)]="racingEDPMarket.name" [value]="racingEDPMarket.name" required trim="blur">
                        <mat-hint class="col-red" *ngIf="!racingEDPMarket.name">Name should be entered</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <span class="mat-label">
                        Description
                    </span>
                </div>
                <div class="col-md-10">
                    <mat-form-field
                      class="full-width">
                        <input matInput placeholder="Description" formControlName="description"
                         [(ngModel)]="racingEDPMarket.description" [value]="racingEDPMarket.description" trim="blur">
                        <mat-hint class="col-red" *ngIf="racingEDPMarket?.description?.length > 200">
                            Description can be max 200 characters long</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="isBirMarketFlag">
                <div class="col-md-2">
                    <span class="mat-label">
                        BIR Description
                    </span>
                </div>
                <div class="col-md-10">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Bir Description" formControlName="birDescription"
                            [(ngModel)]="racingEDPMarket.birDescription" [value]="racingEDPMarket?.birDescription" trim="blur">
                        <mat-hint class="col-red" *ngIf="racingEDPMarket?.birDescription?.length > 200">
                            Bir Description can be max 200 characters long</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-checkbox color="primary"
                     [checked]="racingEDPMarket.isHR"
                     (change)="racingEDPMarket.isHR = !racingEDPMarket.isHR">
                     HR
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-checkbox color="primary"
                     [checked]="racingEDPMarket.isGH"
                     (change)="racingEDPMarket.isGH = !racingEDPMarket.isGH">
                     GH
                    </mat-checkbox>
                </div>
            </div>
            <div class="row" *ngIf="racingEDPMarket.description">
                <div class="col-md-12">
                    <mat-checkbox color="primary" 
                     [checked]="racingEDPMarket.isNew"
                     (change)="racingEDPMarket.isNew = !racingEDPMarket.isNew">
                     New Badge
                    </mat-checkbox>
                </div>
            </div>
    </div>
    </form>
</div>
<action-buttons
  #actionButtons
  *ngIf="racingEDPMarket"
  [form]="racingEdpForm"
  [fieldOrItemName]="'name'"
  [collection]="racingEDPMarket"
  (actionsEmitter)="actionsHandler($event);"
></action-buttons>