<div class="card" *ngIf="offersData">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Offers Page
      <active-inactive-expired [collection]="offersAmount"></active-inactive-expired>
    </h2>
  </div>
</div>
<div class="card">
    <div class="body">
      <!-- search and download button.-->
      <div *ngIf="offersData" class="row clearfix">
        <div class="col-md-3">
          <button (click)="createOffer()" type="button" class="btn bg-teal waves-effect float-left">
            <i class="material-icons">add_box</i>
            <span>Create Offer</span>
          </button>
        </div>
        <div class="col-md-3">
          <download-cvs [cvsData]="offersData" [cvsDataTable]="dataTableColumns"></download-cvs>
        </div>
        <div class="col-md-6 m-b-0">
          <div class="input-with-icon m-b-0">
            <i class="material-icons">search</i>
            <mat-form-field>
              <input matInput placeholder="Search For Offers" [(ngModel)]="searchField" [value]="searchField">
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- main content, config groups list-->
      <div *ngIf="offersData">
        <cms-data-table
          [customTableData]="offersData"
          [customTableColumns]="dataTableColumns"
          [reorder]="true"
          [multyRemove]="true"
          [actions]="['remove','edit']"
          [filterString]="searchField"
          [filterProperties]="filterProperties"
          (onElementsOrder)="reorderHandler($event)"
          (onRemoveTableElement)="removeOffer($event)"
          (onMultyRemove)="removeHandlerMulty($event)">
        </cms-data-table>
      </div>

      <div *ngIf="getDataError">
        Request Error
      </div>
    </div>
  </div>
