@import 'global.variables.scss';

.vn-bma .banner-block {
    background: #f9f9f9;
    margin-bottom: 10px;
}

.virtual-section-wrapper{
    margin-top: 18px;
}

.virtual-section-wrapper-nextevents {
    margin-top: 18px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}