<div class="card" *ngIf="termsAndConditions">
    <div class="header">
      <h2 class="has-activity-badge">
        <span [textContent]="T_AND_C_FORM.headerLabel"></span>
        <create-updated-at-by [collection]="termsAndConditions"></create-updated-at-by></h2>
    </div>
  </div>
  <div class="card" *ngIf="termsAndConditions">
    <div class="body">
      <div class="row">
        <div class="col-sm-2">
          <span class="mat-label" [textContent]="T_AND_C_FORM.titleLabel">
          </span>
        </div>
        <div class="col-sm-10">
          <mat-form-field class="full-width">
            <input matInput placeholder="title" type="text" pl
            [(ngModel)]="termsAndConditions.title" trim="blur">
        </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <span class="mat-label" [textContent]="T_AND_C_FORM.urlLabel">
          </span>
        </div>
        <div class="col-sm-10">
          <mat-form-field class="full-width">
            <input matInput placeholder="URL" type="text"
            [(ngModel)]="termsAndConditions.url" trim="blur">
        </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <span class="mat-label" [textContent]="T_AND_C_FORM.textLabel">
          </span>
        </div>
        <div class="col-sm-10">
          <tinymce-editor #text
                          [pageName]="'termsAndConditions'"
                          [pageItemId]="termsAndConditions.id"
                          (outputEditorData)="updateBlurb($event)"
                          [initialEditorContent]="termsAndConditions.text"></tinymce-editor>
        </div>
      </div>
    </div>
  </div>

  <action-buttons
    #actionButtons
    [collection]="termsAndConditions"
    (actionsEmitter)="actionsHandler($event);"
    [fieldOrItemName]="'termsandconditions'"
    [showRemoveButton]="false"
    [validateHandler]="verifyTermsAndConditions">
  </action-buttons>
