
$base-font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
$lato-black-font-family: Lato-Black, Arial, "Helvetica Neue", Helvetica, sans-serif;
$twoup-font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
$basic-font-family:"Helvetica Neue";
$robo-font-family:'Roboto Condensed';
$lato-font-family:'Lato';
$font-size-base:          14px;
$font-size-small:         ceil(($font-size-base * 0.85)); /* ~12px */

/* Fonts */
$font-size-lgr: 16px;
$font-size-lg: 14px;
$font-size-tablet: 13px;
$font-size: 12px;
$font-size-md: 11px;
$font-size-sm: 10px;
$font-size-pre-xs: 9px;
$font-size-xs: 8px;
$twoup-font-size: 12px;

$line-height-sm: 16px;
$line-height: 18px;
$line-height-md: 20px;
$line-height-normal: 1.2;

$font-color-main: $color-gray-dark;
$font-color-dark: $brand-color-dark;
$font-color-light: lighten($font-color-main, 50%);
//quickswitch
$font-family-quickswitch: $lato-font-family;
$padding-changematch: 5px;
$matchesheight-quickswitch: 14px;
$height-changematch: 13px;
$fontsize-changematch: 11px;
$fontsize-matches: 12px;