<div *ngIf="headerMenus" class="card">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Header Menus Page
      <small *ngIf="headerMenus.length">Total Header Menus Amount: {{headerMenus.length}}</small>
      <small *ngIf="!headerMenus.length">No Header Menus Found</small>
    </h2>
  </div>
</div>

<div class="card">
  <div class="body">
    <!-- search and download button.-->
    <div *ngIf="headerMenus" class="row clearfix">
      <div class="col-md-3">
        <button (click)="createHeaderMenu()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create Header Menu</span>
        </button>
      </div>
      <div class="col-md-3">
        <download-cvs [cvsData]="headerMenus" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Header Menu" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="headerMenus">
      <cms-data-table
        [customTableData]="headerMenus"
        [customTableColumns]="dataTableColumns"
        [actions]="['remove', 'edit']"
        [filterString]="searchField"
        [filterProperties]="searchableProperties"
        [reorder]="true"
        (onElementsOrder)="reorderHandler($event)"
        (onRemoveTableElement)="removeHandler($event)">
      </cms-data-table>
    </div>

    <div *ngIf="error">
      Request Error
    </div>
  </div>
</div>
