<div class="custom-dialog">
  <h1 mat-dialog-title>Create a New External Link</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Url" [(ngModel)]="newExternalLink.url" [value]="newExternalLink.url" required trim="blur">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <mat-select [(value)]="newExternalLink.target"
                      [(ngModel)]="newExternalLink.target"
                      placeholder="Target" required>
            <mat-option value="NEW">NEW</mat-option>
            <mat-option value="CURRENT">CURRENT</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn btn-sm bg-cean m-r-20 float-right" (click)="closeDialog()">Cancel</button>
    <button mat-button class="btn btn-sm bg-teal float-right" [disabled]="!isValidExternalLink()" (click)="getNewExternalLink();" [mat-dialog-close]="newExternalLink">Save</button>
  </div>
</div>
