<lazy-component
  *ngIf="showFilter && nextRacesGroupedData?.groupedRacing?.length && (raceEvent === 'Horse Racing' || raceEvent === 'Greyhounds') && nextRacesGroupedData?.showFilter"
  moduleUri="@lazy-modules-module/customFlagFiltertoggle/custom-flag-filter-toggle.module#CustomFlagFilterToggleModule"
  [inputs]="{filters: nextRacesGroupedData?.groupedRacing, selectedFilter: selectedFilter, compName: compName,  moduleType: moduleType,isNxtTabEnabled: isNxtTabEnabled}"
  [outputs]="['filterChange']"
  (event)="onFilterChange($event)" entryComponent="CustomFlagFilterToggleComponent">
</lazy-component>


<race-card-home *ngIf="!showLoader && nextRacesGroupedData?.storedEvents" [trackGa]="trackGa" data-crlat="raceCard"
  [raceIndex]="'next-races'" [raceOrigin]="'next-races'" [raceData]="nextRacesGroupedData?.storedEvents"
  [raceMaxSelections]="nextRacesModule.limitOutcomesCount" [raceNewStyleCard]="true"
  [showTimer]="showTimer" [gtmModuleTitle]="'next races'">
</race-card-home>
<div class="page-inner" *ngIf="!showLoader && !nextRacesGroupedData?.storedEvents?.length">
  <div class="page-segment">
    <no-events></no-events>
  </div>
</div>