.time-input {
  width: 30px;
}

.mat-label {
  display: inline-block;
  margin: 15px 0 0 0;
}

.full-width {
  width: 100%;
}

.row {
  >div {
    margin-bottom: 0;
  }
}

.main-image-btn {
  margin-top: 10px;
}

md-slide-toggle.mat-primary:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: blue;
}
