@import 'global.variables.scss';

.outcome-title {
  font-size: 13px;
  color: $color-gray-darkest;
}

.outcome-desc {
  color: $lBlack-light;
  margin-top: 2px;
}

.bet-progress {
  .progress-desc {
    color: $lBlack-light;
  }
}
