@import 'global.variables.scss';
@import '../../../../../app/shared/components/expandPanel/expand-panel.component.scss';



   .expand-panel {
      .items-list {
        margin: 12px 0 0;
      }
    }

.expand-panel {
  margin: 5px 0;
  color: $color-black;
  font-size: 12px;

  .expand-panel-heading {
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    background: $color-white;
    cursor: pointer;
    position: relative;

    &.active {
      border-bottom: none;
    }
    svg {
      height: 15px;
      width: 15px;
      right: 8px;
      margin: -4px 0 0;
      position: absolute;
      top: 38%;
      text-shadow: 0 1px 1px rgba(0,0,0,.6);
      fill: $color-gray;
    }
  }

  .expand-panel-body {
    color: $color-gray-darkest;
    padding: 12px 12px 16px;
    background: $color-white;
    .table-panel {
      width: 100%;
      background: $color-white;
      td, th {
        border: 1px solid $lGrayDark;
        padding: 10px;
        text-align: left;
        font-size: 11px;
      }
      td {
        font-size: 12px;
        font-family: $alt-font-family;
        &:first-child {
          min-width: 85px;
        }
      }
      th {
        color: $color-gray-darkest;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .cashout-history {
    padding-top: 0px;
  }
}
