<breadcrumbs *ngIf="newCampaign" [breadcrumbsData]="breadcrumbsData"></breadcrumbs>

<div class="card" *ngIf="newCampaign">
  <div class="body">
    <div class="row">
      <div class="col-md-2">
        <span class="mat-label">
          Name
        </span>
      </div>
      <div class="col-md-8">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]="newCampaign.name" [value]="newCampaign.name"
                 required trim="blur">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <span class="mat-label">
          Initial number of messages to display
        </span>
      </div>
      <div class="col-md-8">
        <mat-form-field class="full-width">
          <input matInput type="number" min="1" placeholder="Initial number of messages to display"
                 [(ngModel)]="newCampaign.messagesToDisplayCount" [value]="newCampaign.messagesToDisplayCount" required trim="blur">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <date-range
          [startDate]="newCampaign && newCampaign.displayFrom"
          [endDate]="newCampaign && newCampaign.displayTo"
          [startPlaceholder]="'Display from'"
          [endPlaceholder]="'Display to'"
          [placeholderColumn]="true"
          (onDateUpdate)="handleDisplayDateUpdate($event)"
        >
        </date-range>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <span class="mat-label">
          Manually set status
        </span>
      </div>
      <div class="col-md-8">
        <mat-form-field class="full-width">
          <mat-select [(value)]="newCampaign.status" (selectionChange)="setStatus($event)" placeholder="Status">
            <mat-option *ngFor="let status of campaignStatuses()" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <br>
  </div>
</div>

<div class="card" *ngIf="newCampaign">
  <div class="body">
    <div class="row --m-t-10">
      <div class="col-md-3 m-b-0">
        <button mat-button type="button" class="btn bg-teal waves-effect"
                (click)="saveCampaignChanges()"
                [disabled]="!isValidModel()">
          <mat-icon>save</mat-icon>
          <span>Create Campaign</span>
        </button>
      </div>
    </div>
  </div>
</div>

