<div class="card">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Splash Page
    </h2>
  </div>
</div>
<div class="card">
  <div class="body">
    <div class="row clearfix">
      <div class="col-md-3">
        <button (click)="openCreatePage()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create Splash Page</span>
        </button>
      </div>
      <div *ngIf="splashPageData" class="col-md-3">
        <download-cvs [cvsData]="splashPageData" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div *ngIf="splashPageData" class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Splash Page" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="splashPageData">
      <cms-data-table
        [customTableData]="splashPageData"
        [customTableColumns]="dataTableColumns"
        [multyRemove]="true"
        [actions]="['remove','edit']"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        (onRemoveTableElement)="removeSplashPage($event)"
        (onMultyRemove)="removeHandlerMulty($event)">
      </cms-data-table>
    </div>

    <div *ngIf="getDataError">
      Request Error
    </div>
  </div>
</div>
