<div class="tab-content heuristic-container" data-crlat="tabContent">
  <!--- Racing Page -->
  <div class="container sk-container" [ngClass]="{'sk-loading': applyingParams || (displayNextRaces && !nextRacesLoaded) || (!displayNextRaces ? !featuredLoaded: !nextRacesLoaded)}">
    <loading-screen [displayed]="applyingParams || (displayNextRaces && !nextRacesLoaded) || (!displayNextRaces ? !featuredLoaded: !nextRacesLoaded)"
                    [templateType]="'GENERIC'"></loading-screen>

    <div data-crlat="accordionsList">
 <!--- Sorting Panel -->
      <switchers *ngIf="!applyingParams && isRacingPanel && featuredLoaded && display === 'future'" data-crlat="switchers"
        [filter]="filter" [switchers]="switchers" [detectGTMLocation]="'sublocation'">
      </switchers>

      <ng-container *ngIf="display === 'today'">
        <ng-template *ngTemplateOutlet="RacingFeaturedLazy"></ng-template>
      </ng-container>

      <ng-container *ngIf="display === 'tomorrow'">
        <ng-template *ngTemplateOutlet="RacingFeaturedLazy "></ng-template>
      </ng-container>

      <!-- Future events -->
      <div *ngIf="!applyingParams && display === 'future'" data-crlat="racing.future">
        <div *ngIf="!responseError && racing.events?.length" data-crlat="racing.futureEvents">
          <greyhound-future-tab [filter]="filter"
                                [isExpanded]="isExpanded"
                                [orderedEvents]="orderedEvents"
                                [orderedEventsByTypeNames]="orderedEventsByTypeNames"
                                [filteredTypeNames]="filteredTypeNames"
                                [racingEvents]="racing.events"
                                [isEventOverlay]="isEventOverlay">
          </greyhound-future-tab>
        </div>

        <request-error *ngIf="responseError"
                       [loadFailed]="responseError"
                       (reloadFn)="reloadComponent()"></request-error>

        <!-- Show only when no events -->
        <no-events *ngIf="!responseError && !racing.events?.length"></no-events>
      </div>
      <ng-container *ngIf="!responseError && targetTab?.interstitialBanners?.bannerEnabled && (!!lastBannerEnabled)">
        <lazy-component
          moduleUri="@lazy-modules-module/virtualEntryPointBanner/virtual-entry-point-banner.module#VirtualEntryPointBannerModule"
          entryComponent="VirtualEntryPointBannerComponent"
          [inputs]="{targetTab: targetTab,isUnTiedSport:true,sportName : sportName}">
        </lazy-component>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #RacingFeaturedLazy>
  <lazy-component moduleUri="@lazy-modules-module/racingFeatured/racing-featured.module#RacingFeaturedModule"
    [hidden]="applyingParams" [inputs]="{
          sportId: categoryId,
          racing: racing,
          sectionTitle: sectionTitle,
          sportName: sportName,
          eventsOrder: eventsOrder,
          filter: filter,
          responseError: responseError,
          displayNextRaces: displayNextRaces,
          sportModule: sportModule,
          display: display,
          compName: 'greyhounds'
        }" [outputs]="['featuredLoaded']" (event)="handleFeaturedLoaded()" data-crlat="racing.greyhound">
  </lazy-component>
</ng-template>
