.bonussuppression-error-popup {
    .text-center {
      line-height: 18px;
      font-size: 12px;
      margin-bottom: 25px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      .close-button {
        width: 100px;
        height: 35px;
        background: #FAC031;
        font-size: 13px;
        font-weight: 400;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #252835;
        margin-left: 10px;
      }
    }
  }


