.carousel-wrapper {
    .left-pane {
       width:23%;
       padding-left: 15px;;
     }
   .right-pane {
       width:77%!important;

       .segment-dropdown {
         margin-left: -10px;
       }

       .cvs {
         margin-left: 10px;
       }
   }
}

.order-message {
   margin: 10px;
   margin-top: -5px;
}