<div class="card" *ngIf="seoPagesData">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Seo Page
      <small *ngIf="seoPagesData">Total active seo pages: {{seoPagesAmount.active}}, inactive seo pages: {{seoPagesAmount.inactive}}</small>
    </h2>
  </div>
</div>
<div class="card" *ngIf="seoPagesData">
  <div class="body">
    <!-- search and download button.-->
    <div *ngIf="seoPagesData" class="row clearfix">
      <div class="col-md-3">
        <button (click)="addNewSeoPage()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create Seo Page</span>
        </button>
      </div>
      <div class="col-md-3">
        <download-cvs [cvsData]="seoPagesData" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Seo Page" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- main content, seo pages list-->
    <div *ngIf="seoPagesData">
      <cms-data-table
        [customTableData]="seoPagesData"
        [customTableColumns]="dataTableColumns"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        [actions]="['remove', 'edit']"
        (onRemoveTableElement)="handleRemoveSeoPage($event)">
      </cms-data-table>
    </div>

    <div *ngIf="getDataError">
      Request Error
    </div>
  </div>
</div>
