swagger: '2.0'
info:
  description: Featured Microservice Swagger
  version: v1.0
  title: Featured Microservice
  contact:
    email: taras.vuyiv@symphony-solutions.eu
  license:
    name: GPLv2.0
    url: 'https://www.gnu.org/licenses/old-licenses/gpl-2.0.html'
host: featured-microservice.oxygen.io
basePath: /api/v1
schemes:
  - http
paths:
  /health:
    get:
      tags:
        - featured
      summary: Retrieves product health data.
      description: ''
      operationId: getHealth
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FeaturedHealth'
  /generation:
    get:
      tags:
        - featured
      summary: Retrieves the current featured version.
      description: ''
      operationId: getVersion
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FeaturedVersionResponse'
  '/structure/{version}':
    get:
      tags:
        - featured
      summary: Retrieves featured model structure for the given version.
      description: ''
      operationId: getModelStructure
      produces:
        - application/json
      parameters:
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FeaturedModules'
  '/module/{id}/{version}':
    get:
      tags:
        - featured
      summary: Retrieves module data by the given id and version.
      description: ''
      operationId: getModule
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FeaturedModule'
  '/topics/{id}/{version}':
    get:
      tags:
        - featured
      summary: Retrieve list of available topics for the given module id and version.
      description: ''
      operationId: getTopics
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              type: string
definitions:
  FeaturedVersionResponse:
    type: object
    properties:
      value:
        type: string
  FeaturedModules:
    type: object
    properties:
      directiveName:
        type: string
      modules:
        type: array
        items:
          $ref: '#/definitions/FeaturedModule'
  FeaturedModule:
    type: object
    properties:
      _id:
        type: string
      title:
        type: string
      displayOrder:
        type: string
      showExpanded:
        type: boolean
      maxRows:
        type: string
      totalEvents:
        type: string
      publishedDevices:
        type: array
        items:
          type: string
      data:
        type: array
        items:
          $ref: '#/definitions/Event'
      dataSelection:
        type: array
        items:
          $ref: '#/definitions/DataSelection'
      footerLink:
        type: array
        items:
          $ref: '#/definitions/FooterLink'
      cashoutAvail:
        type: boolean
      hasNoLiveEvents:
        type: boolean
      outcomeColumnsTitles:
        type: array
        items:
          type: string
      isSpecial:
        type: boolean
      isEnhanced:
        type: boolean
      isYourCallAvailable:
        type: boolean
  FooterLink:
    type: object
    properties:
      text:
        type: string
      url:
        type: string
  DataSelection:
    type: object
    properties:
      selectionId:
        type: string
      selectionType:
        type: string
  Event:
    type: object
    properties:
      id:
        type: string
      marketsCount:
        type: string
      name:
        type: string
      outcomeStatus:
        type: boolean
      eventSortCode:
        type: string
      start_time:
        type: string
      liveServChannels:
        type: string
      liveServChildrenChannel:
        type: string
      categoryId:
        type: string
      categoryCode:
        type: string
      categoryName:
        type: string
      typeName:
        type: string
      cashoutAvail:
        type: string
      eventStatusCode:
        type: string
      isUS:
        type: boolean
      eventIsLive:
        type: boolean
      displayOrder:
        type: string
      markets:
        type: array
        items:
          $ref: '#/definitions/Market'
      isStarted:
        type: boolean
      outright:
        type: boolean
      responseCreationTime:
        type: string
      liveStreamAvailable:
        type: boolean
      drilldownTagNames:
        type: string
      typeId:
        type: string
  Market:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      isLpAvailable:
        type: boolean
      isSpAvailable:
        type: boolean
      isGpAvailable:
        type: boolean
      liveServChannels:
        type: string
      priceTypeCodes:
        type: string
      cashoutAvail:
        type: string
      viewType:
        type: string
      marketMeaningMajorCode:
        type: string
      marketMeaningMinorCode:
        type: string
      isMarketBetInRun:
        type: boolean
      dispSortName:
        type: string
      marketStatusCode:
        type: string
      templateMarketId:
        type: string
      templateMarketName:
        type: string
      outcomes:
        type: array
        items:
          $ref: '#/definitions/Outcome'
  Outcome:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      outcomeMeaningMajorCode:
        type: string
      outcomeMeaningMinorCode:
        type: string
      outcomeStatusCode:
        type: string
      liveServChannels:
        type: string
      correctPriceType:
        type: string
      correctedOutcomeMeaningMinorCode:
        type: string
      prices:
        type: array
        items:
          $ref: '#/definitions/Price'
      displayOrder:
        type: string
  Price:
    type: object
    properties:
      id:
        type: string
      priceType:
        type: string
      priceNum:
        type: string
      priceDen:
        type: string
      priceDec:
        type: string
  FeaturedHealth:
    type: object
    properties:
      status:
        type: string
      version:
        type: string
      servers:
        type: array
        items:
          $ref: '#/definitions/Server'
      storage:
        $ref: '#/definitions/Storage'
  Server:
    type: object
    properties:
      connections:
        type: string
      rooms:
        type: string
      port:
        type: string
  Storage:
    type: object
    properties:
      address:
        $ref: '#/definitions/Address'
      heartbeating:
        type: string
      uuid:
        type: string
  Address:
    type: object
    properties:
      host:
        type: string
      port:
        type: string
