<breadcrumbs *ngIf="inplaySport" [breadcrumbsData]="breadcrumbsData"></breadcrumbs>
<div class="card" *ngIf="inplaySport">
    <div class="clearfix">
        <div class="col-md-12">
          <div class="m-b-0 mat-label">
            Sports Name:
            <mat-form-field class="sports-select">
              <input matInput [value]="inplaySport.sportName" readonly>
            </mat-form-field>
          </div>
        </div>
        
        <div class="col-md-12">
            <mat-form-field class="full-width">
              <input matInput placeholder="Sport Event Count" [formControl]="eventCount" [(ngModel)]="inplaySport.eventCount" [value]="inplaySport.eventCount" type="number" required>
            </mat-form-field>
        </div>
        
        <div class="col-md-12" *ngIf="segmentsList">
            <cms-universal-segmented [segmentsDataObj]='segmentsList' [isRevert]="isRevert" (isFormValid)="isSegmentFormValid($event)"
              (segmentsModifiedData)="modifiedSegmentsHandler($event)"></cms-universal-segmented>
        </div>
    </div>
</div>

<action-buttons
  #inplayActionButtons
  *ngIf="inplaySport"
  [validateHandler]="validationHandler"
  [fieldOrItemName]="'sportName'"
  [collection]="inplaySport"
  (actionsEmitter)="actionsHandler($event);"
></action-buttons>
