/*****Color Scheme For Ladbrokes Brand In Bet Radar Integration*****/
$color-1: #000000;
$color-2: #ffffff;
$color-3: #00e1ff;
$color-4: #fbc400;
$color-5: #35cfe3;
$color-6: #00cbe6;
$color-7: #0c93a9;
$color-8: #b0b1b4;
$color-9: #6beeff;
$color-10: #3a3c45;
$color-11: #1d1f29;
$color-12: #34353e;
$color-13: #1a3643;
$color-14: #7ce0ed;
$color-15: #fcd959;
$color-16: #4deaff;
$color-17: #2e9aab;
$color-18: #145969;
$color-19: #06bad4;
$color-20: #b8930c;
$color-21: #ac182e;
$color-22: #53555c;
$color-23: #bbbcbf;
$color-24: #77797f;
$color-25: #383a43;
$color-26: #2b2c36;
$color-27: #e8e9ea;
$color-28: #c7c7ca;
$color-29: #e43b3b;
$color-30: #18404d;
$color-31: #f5a623;
$color-32: #d0021b;
$color-33: #00a4ff;
$color-34: #f7ab11;
$color-35: #009900;
$color-36: #4b90de;
$color-37: #f4a621;
$color-38: #1c2934;
$color-39: #0e8094;
$color-40: #4a9fe4;
$color-41: #0a6cce;
$color-42: #51d151;
$color-43: #1b911b;
$color-44: #941d1d;
$color-45: #e93a34;
$color-46: #ef6c00;
$color-47: #ffb848;
$color-48: #fdd835;
$color-49: #4fbe30;
$color-50: #ffbf00;
$color-51: #2579ad;
$color-52: #155161;
$color-53: #00b4cc;
