.versus-against {
  margin-top: 20px;
  text-align: center;
  color: #908787;
}

input.without-arrow::-webkit-inner-spin-button, input.without-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-card {
  margin: 0 0 15px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3) !important;
  border-radius: 6px;
}

.team-names {
  margin-top: 20px;
}

.eventsEditDisabled {
  border: 5px solid tomato;
}

.eventsEditDisabledMessage {
  text-align: center;
  color: tomato;
}

.option-text {
  margin-left: 10px;
}

.option {
  margin-right: 75px;
  margin-bottom: 20px;
}

.scores {
  margin-left: 1px;
  margin-right: 1px;
}

.errorMsg {
  padding-left: 25px;
  padding-top: 20px;
}
