@font-face {
    font-family: 'Tungsten Bold';
    src: url('/promotions/assets/styles/fonts/tungsten/Tungsten-Bold-eot.eot');
    src: local('Tungsten Bold'),
    local('Tungsten Bold'),
    url('/promotions/assets/styles/fonts/tungsten/Tungsten-Bold-woff2.woff2') format('woff2'),
    url('/promotions/assets/styles/fonts/tungsten/Tungsten-Bold-eot.eot?#iefix') format('embedded-opentype'),
    url('/promotions/assets/styles/fonts/tungsten/Tungsten-Bold-ttf') format('truetype'),
    url('/promotions/assets/styles/fonts/tungsten/Tungsten-Bold-woff.woff') format('woff');
  }

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: local('HelveticaNeue'), local('HelveticaNeue'),
    url('/assets/fonts/helvetica/Helvetica.ttf') format('truetype');
}
