.handle-opt-in {
  position: relative;
  margin-top: 5px !important;

  .checked {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 7px;
    height: 12px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    will-change: transform;
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    -moz-transform: rotate(45deg);
    /* Firefox */
    transform: rotate(45deg);
    top: 6px;
    animation: none;
    /* Fix for IE11 */
  }
}

@mixin table-styles-mixin() {
  font-size: 12px;
  letter-spacing: 0;
}

.promotion-container {
  padding: 0;

  .page-container {
    & > .container-header {
      margin: 0;
    }

    & > .sub-headers,
    & > .sub-header {
      background-color: $lGrayLight;
      color: $lGray;
    }
  }

  .container {
    .container-content {
      &.text-section {
        line-height: 14px;
        padding: 0;
      }
    }

    #promo-descr {
      padding: 0px;
      &.coral-btn {
        .MsoNormal {
          .btn-style1 {
            background-color: $color-green !important;
            @media #{$mqTabletAndDesktop} {
              &:hover {
                  background: $color-green-light2 !important;
                  text-decoration: none;
                  color: $color-white;
                }
            }
            &:active {
                background: $color-green-shine !important;
                color: $color-white;
            }
          }
        }
        .btn {
          background-color: $color-blue !important;
          @media #{$mqTabletAndDesktop} {
            &:hover {
              background-color: lighten($color-blue, 25%) !important;
            }
          }
          &:active {
            background-color: darken($color-blue, 10%) !important;
          }

        }
      }

      p {
        padding: 0px 15px;
      }

      .container-inside-text {
        padding: 0px 15px;
        margin: 8px 0px;
      }

      table {
        @include table-styles-mixin();
        width: 100% !important;
        font-family: 'HelveticaNeue-Regular', sans-serif;
        color: $color-gray-darkest;
        margin-top: 16px;
        margin-bottom: 16px;

        tbody {
          tr:nth-child(odd) {
            background-color: $color-table-white-bg;
          }

          tr:first-child {
            color: $lGray;
            background-color: $lGrayLight;
            text-align: left;
            height: 32px;
          }

          td:first-child {
            text-align: left;
            padding-left: 16px;
            padding-right: 8px;
          }

          tr {
            td:first-child {
              width: auto;
            }

            td {
              text-align: center;
              padding: 8px 0px;
            }
          }
        }

        .hightlight-row {
          background-color: $color-table-hightlight-bg !important;
        }
      }

      .fixed-table {
        tr {
          td {
            width: 31px;
          }

          td:last-child {
            padding-right: 16px;
          }
        }
      }

      .btn {
        margin: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: $color-maingreen;
        @media #{$mqTabletAndDesktop} {
          &:hover {
              background: $color-green-light2;
              text-decoration: none;
              color: $color-white;
            }
        }
        &:active {
            background: $color-green-shine;
            color: $color-white;
        }

        &.coral-btn {
          
          background-color: $color-blue !important;
          @media #{$mqTabletAndDesktop} {
            &:hover {
              background-color: lighten($color-blue, 25%) !important;
            }
          }
          &:active {
            background-color: darken($color-blue, 10%) !important;
          }

        }
      }

      .item-panel {
        padding: 0px 15px;
      }

      #textarea {
        display: inline-block;
        width: 75%;

        + p {
          display: none;
        }
      }

      .price-odds-promo {
        align-items: center;
      }

      #dynamic-button {
        position: relative;
        display: inline-block;
        width: 20%;
      }

      hr {
        border: 0.5px solid $color-table-white-bg;
      }
    }
  }

  #terms-and-cond {
    .btn.full-width {
      margin: 0;
    }

    padding: 2px 5px;
  }

  a {
    cursor: pointer;
  }
}

.promotion-container.grouped,
.promotion-container {
  background-color: transparent;

  .promotion-group {
    &-header {
      background-color: $color-gray-light;
      padding: 12px;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      border-top: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
    }
  }
  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
  }
  @mixin img-position($position) {
    position: $position;
  }
  div {
    @include img-position(relative);
  }
  .offer-text {
    @include img-position(relative);
    height: 100%;
    top: 0;
    left: 0;
    right: initial;
    bottom: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: 30%;
    padding-left: 15px;
    padding-top: 0;
    div {
      font-family: "Tungsten Bold", sans-serif;
      text-transform: uppercase;
      line-height: 80%;
    }
  }
  @mixin offertext-size($fontsize, $color) {
    font-size: $fontsize;
    color: $color;
  }
  .lc-offer__terms {
    display: flex;
    position: unset;
    z-index: 1;
    min-height: fit-content;
    text-align: left;
    font-size: 6px;
    padding: 5px 5px;
  }

  .promotion-item {
    box-shadow: 0 3px 4px $color-gray-mid;

    span {
      color: $color-gray-dark;
      background: $color-gray-light;
      border-top: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
      line-height: 35px;
      text-transform: uppercase;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
    .promotion-title {
       padding: 0 15px;
    .title-view {
        padding: 0 12px;
      }
     } 
    }
    .lc-offer__link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex-grow: 1;
      height: 115px;
      max-height: 145px;
    }
    .offer-text {
      img {
        @include img-position(absolute);
        right: 0px;
        max-height: 50px;
        max-width: 50px;
      }
      .lc-text--ladbrokes {
        color: $color-white !important;
      }
      .offer-title {
        @include offertext-size(1.9em, $banners-title);
        font-weight: bold;
        @media (max-width: $tabletPointLow) {
          @include offertext-size(35px, $banners-title);
        }
      }
      .offer-introductorytext,
      .offer-subtitle {
        @include offertext-size(1.2em, $banners-subtitle);
        @media (max-width: $tabletPointLow) {
          @include offertext-size(20px, $banners-subtitle);
        }
      }
    }
    @media (min-width: $mobileSmallPoint) and (max-width: $tabletPointLow) {
      .lc-offer__link {
        height: 150px;
      }
    }
  }
  .promotion-sitecorebanner {
    .lc-offer__link {
      text-decoration: none;
      min-height: 155px;
      height: 205px;
      max-height: 300px;
      display: flex;
      flex-direction: column;
    }
    .offer-text {
      text-align: left;
      img {
        @include img-position(absolute);
        right: 0px;
        top: 15px;
        max-width: 25%;
        max-height: 60%;
      }
      .offer-title {
        @include offertext-size(45px, $banners-title);
        font-weight: bold;
        @media (max-width: $tabletPointLow) {
          @include offertext-size(35px, $banners-title);
        }
      }
      .offer-introductorytext,
      .offer-subtitle {
        @include offertext-size(20.5px, $banners-subtitle);
        margin-top: 0;
        margin-bottom: 0.9%;
      }
    }
    .lc-offer__terms {
      font-size: 9px;
    }
  }

  .nav-group-items {
    margin: 0 0 12px;
    box-shadow: 0 1px 3px #00000040;
    cursor: auto;
    .switch-btn {
      font-family: $base-font-family;
      font-size: 11px;
      color: $color-blue-dark;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $color-white;
      padding: 5px 10px 10px;
      margin-bottom: -5px;
    }
    .nav-link {
      color: $lBlack-light;
      font-size: 12px;
    }
  }
  #promo-nav-group {
    ul {
      display: flex;
      width : 100%;
      li {
        flex: 1 0 0;
        a {
          width: 100%;
        }
      }
    }
    .lads {
      a {
        color: $lBlack-light!important;
      }
      .activeLads {
        color: $lGray !important;
      }
    }
  }
}

.promotion {
  &-container {
    font-family: $base-font-family;
    font-size: 11px;
    line-height: 1.5em;
    background-color: $color-white;
    align-items: center;

    p {
      font-size: $font-size-md;
      line-height: 1.5em;
    }
  }

  &-item {
    @media #{$mqMobile} {
      margin-bottom: 8px;
    }

    @media #{$mqTablet} {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 2px 3px 2px;
      width: calc(50% - 4px);
    }

    @media #{$mqDesktop} {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 2px 3px 2px;
      width: calc(33.33% - 4px);
    }

    span {
      padding: 0 15px;
      margin: 0;
      font-size: 11px;
      color: $color-white;
      text-transform: uppercase;
      font-weight: bold;
      background: $brand-color-dark;
      line-height: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media #{$mqTabletAndDesktop} {
        padding: 0 10px;
      }
    }

    & > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-content {
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    background: $color-gray-light;
    padding: 15px;

    @media #{$mqTabletAndDesktop} {
      height: 80px;
      padding: 16px 10px;
    }

    & > * {
      margin: 0;
    }

    p {
      color: $color-gray-dark;
      padding-right: 15px;
      width: calc(100% - 110px);

      @media #{$mqTabletAndDesktop} {
        padding-right: 10px;
      }
    }
  }
}

.clamp-lines {
  position: relative;
  max-height: 4.5em;
  overflow: hidden;
  font-size: $font-size-md;
  line-height: 1.5em;

  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 1.5em;
    background: linear-gradient(to right, rgba(234, 234, 234, 0), rgba(234, 234, 234, 1) 80%);
  }
}

@supports (-webkit-line-clamp: 3) {
  .clamp-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    &:after {
      display: none;
    }
  }
}

.promotion-footer-text {
  p.p1 {
    position: relative;
  }

  .s1 {
    background-color: transparent;
  }

  em {
    text-decoration: underline;
    font-style: normal;
  }
}

.white-font {
  color: $color-white !important;
}

.error-message {
  position: relative;
  padding: 10px;
  color: $color-white;
  background-color : #4da2f9;
  font-size : 12px;
  margin: 0;
}