<div class="header" [ngClass]="{ 'bg-teal': secret.enabled, 'bg-grey': !secret.enabled }">
  <h2 class="entry-title">
    <span [textContent]="secret.name"></span>
    <span class="inactive-entry" *ngIf="!secret.enabled">(inactive)</span>
  </h2>
  <ul class="header-dropdown">
    <li>
      <button (click)="editSecret()" type="button" class="btn btn-xs bg-teal">
        <i class="material-icons">mode_edit</i>
        <span>Edit</span>
      </button>
    </li>
    <li>
      <button (click)="removeSecret()" type="button" class="btn btn-xs bg-teal">
        <i class="material-icons">delete_forever</i>
        <span>Remove</span>
      </button>
    </li>
  </ul>
</div>

<div class="body">
  <div class="row">
    <span class="col-sm-3 font-bold">Remote URI</span>
    <span class="col-sm-9" [textContent]="secret.uri"></span>
  </div>
  <table class="table table-bordered table-striped">
    <thead *ngIf="secret.items.length">
      <tr><th class="col-sm-3">Secret Item</th><th>Value</th></tr>
    </thead>
    <tbody *ngIf="secret.items.length">
      <tr *ngFor="let item of secret.items;">
        <td [textContent]="item.key"></td><td [textContent]="item.value"></td>
      </tr>
    </tbody>
    <tbody *ngIf="!secret.items.length">
      <tr>
        <td colspan="2" class="col-md-12 text-center">No Secret Items defined</td>
      </tr>
    </tbody>
  </table>
</div>
