@import "global.variables.scss";

@mixin col-fonts-mixin($ff, $fs, $fw, $fsz, $lh) {
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fsz;
    line-height: $lh;
}

@mixin col-background-mixin() {
    background: $lb-bg-color;
    border-radius: 5px;
}

@mixin col-flex-mixin($f, $fg, $o) {
    flex: $f;
    flex-grow: $fg;
    order: $o;
}

@mixin col-lb-flex-mixin($disp, $fd, $af) {
    display: $disp;
    flex-direction: $fd;
    align-self: $af;
}

.content {
    background: $lb-bg-color !important;
    overflow-y: auto;
    padding: 8px 4px;

    .outer-layout {
        margin: 8px 4px;
    }

    .updated-date {
        color: $lb-gray-dark-color;
        text-align: center;
        @include col-fonts-mixin($basic-font-family, normal, 400, 11px, normal);
    }

    .generic-text {
        padding: 16px 8px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        @include col-lb-flex-mixin(flex, column, stretch);
        font-size: 10px;
        font-family: $basic-font-family;
        border-radius: 4px;
        background: $lGrayLight !important;
        box-shadow: 0px -1px 2px 0px $color-black-boxshadow, 0px 2px 4px 0px $color-black-boxshadowend;

        .generic-text-label {
            display: flex;
            width: 339px;
            flex-direction: column;
            color: $color-black;
            @include col-fonts-mixin($basic-font-family, normal, 400, 12px, normal);
        }
    }

    .header-leaderBoard {
        @include col-flex-mixin(none, 0, 0);
        @include col-lb-flex-mixin(flex, row, stretch);

        align-items: center;
        justify-content: space-between;
        padding: 8px 10px;
        gap: 10px;
        height: 28px;
        background: $lb-bg-color;

        .header-leaderBoard-label {
            @include col-fonts-mixin($basic-font-family, normal, 700, 10px, normal);
            color: $color-black;
            display: flex;
            width: 266px;
            flex-direction: column;
            flex: 1 0 0;
        }

        .header-leaderboard-entry-label {
            @include col-fonts-mixin($basic-font-family, normal, 700, 10px, normal);
            color: $color-black;
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
        }
    }

    .table-flex {
        display: flex;
        background: $color-white;
        padding: 14px 10px;
        align-items: center;
        gap: 18px 12px;
        align-self: stretch;
        margin: 1px;
        @media (min-width: 320px) and (max-width: 375px) {
            gap: 18px 10px;
        }
        @media (min-width: 375px) and (max-width: 414px) {
            gap: 18px 18px;
        }
        @media (min-width: 414px) {
            gap: 18px 28px;
        }

        .table-col {
            font-size: 12px;
            font-family: $basic-font-family;
        }
    }

    //Table Body styles 
    .header-row {
        .non-name-column {
            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                width: 42px;
                @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                    flex: 1 0 0;
                }
            }

            &:not(:first-child):not(:last-child) {
                display: flex;
                height: 32px;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                width: 42px;
                @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                    flex: 1 0 0;
                }
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                width: 42px;
                @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                    flex: 1 0 0;
                }
            }

            font-size: 12px;
            font-family: $basic-font-family;
        }

        .name-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100px;
            @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                flex: 1 0 0;
            }

            .name-description {
                display: flex;
                flex-direction: column;
                align-self: stretch;
                color: $color-gray-darkest;
                font-size: 12px;
                font-family: $basic-font-family;
                font-weight: 500;
                align-items: flex-start !important;
            }
        }

        .subtitle {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            color: $color-gray-darkest;
            font-size: 10px;
            font-family: $basic-font-family;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    // Table header styles
    .header-row-heading {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $color-white;
        display: flex;
        background: $color-white;
        padding: 4px 10px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 18px;
        align-self: stretch;
        border-radius: 2px 2px 0px 0px;

        @media (min-width: 320px) and (max-width: 375px) {
            gap: 18px 13px;
        }
        @media (min-width: 375px) and (max-width: 414px) {
            gap: 18px 18px;
        }
        @media (min-width: 414px) {
            gap: 18px 28px;
        }

        .table-col-header {
            color: $lb-gray-dark-color;
            text-align: center;
            @include col-fonts-mixin($basic-font-family, normal, 400, 11px, normal);
        }

        .non-name-column {
            &:first-child {
                display: flex;
                flex-direction: column;
                width: 42px;
                word-break: break-all;
                @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                    flex: 1 0 0;
                }
            }


            &:not(:first-child):not(:last-child) {
                display: flex;
                flex-direction: column;
                width: 42px;
                word-break: break-all;
                @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                    flex: 1 0 0;
                }
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                width: 42px;
                word-break: break-all;
                @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                    flex: 1 0 0;
                }
            }
        }

        .name-column {
            display: flex;
            flex-direction: column;
            width: 100px;
            word-break: break-all;
            text-align: left;
            @media screen and (min-width: 768px) and (max-width: $landscapeTabletPoint) {
                flex: 1 0 0;
            }
        }
    }
}

.leaderBoard-col-font-default-ladbrokes {
    @include col-fonts-mixin($basic-font-family, normal, 700!important, 12px, normal);
    color: $color-gray-darkest;
}

.leaderBoard-col-font-normal {
    @include col-fonts-mixin($basic-font-family, normal, 500!important, 12px, normal);
    color: $color-gray-darkest;
}

.leaderBoard-col-normal-background {
    @include col-fonts-mixin($basic-font-family, normal, 500!important, 12px, normal);
    text-align: center;
    @include col-background-mixin();
    padding: 8px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $color-gray-darkest;
}

.leaderBoard-col-font-bold {
    color: $color-gray-darkest;
    text-align: center;
    @include col-fonts-mixin($basic-font-family!important, normal, 700, 15px, normal);
}

.leaderBoard-col-bold-background {
    color: $color-gray-darkest;
    @include col-fonts-mixin($basic-font-family, normal, 500, 16px, normal);
    @include col-background-mixin();
    padding:6px 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.name-three-column {
    flex: 3 0 0 !important;
}

.name-four-column {
    flex: 2.5 0 0 !important;
}

section {
    &:first-child{
        max-height: 200px;
        overflow-y:  auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    max-height: 950px;
    overflow-y:  hidden;
}

section::-webkit-scrollbar {
    display: none;
}

section:hover{
    overflow-y:  auto; 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}