::ng-deep .mat-option-text {
  display: block;
}

.svg-wrapper {
  height: 40px;
  margin-top: 4px;
  position: relative;
  width: 40px;
  &::ng-deep  svg {
    left: 5px;
    top: 5px;
    position: absolute;
    height: 30px;
    width: 30px;
  }
}

.svg-select-header,
.svg-select-item {
  text-align: center;
  font-size: 14px;
}

.svg-select-header {
  border-bottom: 1px solid rgba(0,0,0,.42);
  font-weight: bold;
  height: 48px;
}

.col-2, .col-5 {
  float: left;
}

.col-2 {
  width: 16.66666667%;
}

.col-5 {
  width: 41.66666667%;
}

.svg-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
