@import 'global.variables.scss';

.coupons-top-title {
  height: 40px;
  padding: 0 12px;
  line-height: 25px;
  font-size: $font-size;
  font-family: $alt-font-family;
  font-weight: bold;
  text-transform: capitalize;
  color: $color-white;
  width: 100%;
  background: $gray-color;
  position: static;
  @include display-flex();
  @include transition();

  &.active .coupon-selector .coupon-selector-arrow {
    @include transform(rotateX(180deg));
  }

  .coupon-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include flex(1,1);
    @include display-flex();
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(center);
  }

  .coupon-selector {
    @include display-flex();
    @include align-items();
    white-space: nowrap;
    padding-left: 10px;
    cursor: pointer;

    .coupon-selector-title {
      text-decoration: none;
      font-weight: normal;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        color: $color-gray-original;
        text-decoration: none;
      }
    }

    .coupon-selector-icon {
      height: 17px;
      width: 17px;
      fill: $color-white;
      margin-right: 5px;
    }

    .coupon-selector-arrow {
      height: 10px;
      width: 10px;
      fill: $color-white;
      margin: 1px 0 0 5px;
    }
  }
}

.coupons-list {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 6;
  height: 0;
  overflow: hidden;
  @include transition(height);

  .coupons-wrap {
    min-height: 100%;
    overflow: hidden;
    background: $color-white;
    margin: 0 10px;

    coupons-list {
      margin: 0;

      ::ng-deep {
        list-card {
          border: 1px solid #efeff3;
        }
      }
    }
  }

  &.active {
    height: 100%;
    overflow-y: auto;
  }
}

.market-selector-sticky-margin {
  .coupons-list {
    margin-top: -40px;
  }
}
