.launch-banner-mob {
  width        : 100%;
  margin-top   : 5px;
  margin-bottom: 10px;
  cursor: pointer;

  img {
    max-height: 94px;
    width : -webkit-fill-available;
  }
}

.launch-banner-desk {
  cursor: pointer
  img {
    max-height: 94px;
    width : -webkit-fill-available;
  }
}