extends ../layout/base

block intro

block content
  link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
  link(href="/keystone/js/lib/angular/bower_components/ngDialog/css/ngDialog.css", type="text/css", rel="stylesheet")
  link(href="/keystone/js/lib/angular/bower_components/ngDialog/css/ngDialog-theme-default.css", type="text/css", rel="stylesheet")
  style .coutries-page-top-offset{margin-top: 20px;}

  script(src="/keystone/js/lib/angular/bower_components/angular/angular.min.js")
  script(src="/keystone/js/lib/angular/bower_components/ngDialog/js/ngDialog.min.js")
  script(src="/keystone/js/lib/jquery/jquery-1.10.2.min.js")
  script(src="/keystone/js/lib/angular/countries.js")
  script.
    window.countries = !{JSON.stringify(countries)}

  div(ng-app="countriesSettings")
    countries-settings
