@import '../../../assets/styles/general.scss';
@import '../../../../../../app/questionEngine/components/questionsPage/questionsCarousel/questions-carousel.component.scss';

.questions-carousel {
  &-title {
    font-size: 30px;
    text-transform: uppercase;
  }

  &-btn {
    background: rgba(0,0,0,0.30);
    border-radius: 50px;
    text-transform: uppercase;
    color: $color-white;
  }
  &.active, &-btn.active {
    color: $color-white;
    @include bg-gradient($color-green, $color-green-grass, bottom);
  }

  &-signposting {
    font-size: $font-size;
  }
}

.qe-progress-bar .qe-progress-status:before {
  background-color: $color-green;
}

@media #{$mqDesktop} {
  .questions-carousel {
    &-btn:hover {
      color: $color-white;
      @include bg-gradient($color-green, $color-green-grass, bottom);
    }
  }
}
