.add-edit-prize {
    .align-middle {
        vertical-align: middle;
    }

    .pt-15 {
        padding-top: 15px;
    }

    .t-1 {
        top: 1px;
    }

    .file-block {
        display: none;
    }
}