*.csv
*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.swp
*.un~


pids
logs
results

npm-debug.log

node_modules/
public/js/lib/angular/bower_components

*.iml
*.ipr
*.iws
.idea/
*.sublime-*

logs
node_modules/
npm-debug.log
pids
results
coverage
coverage.html
.cover*
lib-cov


*.sublime-*

public/js/lib/angular/bower_components/

docs/_dist
public/dist.json

