$color-blue-cornflower: #4a90e2;
$color-blue: #084D8D;
$color-dark-blue: #00008b;
$color-blue-principal: #1E466C;
$color-blue-dark: #07294B;
$color-blue-darker: #203e5d;
$color-blue-darkest: #062745;
$color-bright-blue: #074e8c;
$color-blue-alt: #4a90e2;
$denim-blue: #3a6083;
$color-blue-rich: #06294a;
$color-green: #78BE20;
$color-green-dark-leaf:#5A8E18;
$color-green-light-leaf:#9acf58;
$color-green-cool:#97BB43;
$color-green-darkest: #759C2E;
$color-green-shine:#688e1a;
$color-green-light2:#a8ce5a;
$color-green-dark: #659e1d;
$color-green-light: #D3E6BC;
$color-green-disable:#DDE3B3;
$color-orange: #F56B23;
$color-orange-shine:#F48246;
$color-orange-light2:#EEAA04;
$color-orange-dark: #d45e20;
$color-orange-darker: #d65b1b;
$color-orange-darkest: #c2541a;
$color-orange-premium:#D74D04;
$color-red: #EF3340;
$color-red-alt:#DC4648;
$color-redstone2:#C93A3C;
$color-yellow: #FFCD00;
$color-orange-peel:#bf9a00;
$color-yellow-dark: #ffac00;
$color-yellow-light: #fff270;
$color-yellow-alt2:#FFDA40;
$color-yellow-dark2:#D8AD00;
$color-yellow2: #FADE6E;
$color-gray-regular: #858585;
$color-gray-medium:#5c5e68;
$color-gray-dark: #41494E;
$color-gray-racing-post: #4E5457;
$color-blue-dark-var: #203754;
$color-gray-ghost: #c7c7cc;
$color-matterhorn: #4E4E4E;
$color-gray-mid: #9da4a8;
$color-green-slow: #C2DB8F;
$color-gray-darker: #D7D7D7;
$color-medium-gray:#C6C8C9;
$color-gray-original:#BFBFBF;
$IGreyLightDark: #DCDCDD;
$color-gray-saturated: #3f494f;
$ILightestGrey: #3c4052;
$color-gray: #E0E2EB;
$color-gray-athens: #eceef3;
$color-gray-alabaster: #f9f9f9;
$color-gray-secondary: #8e919f;
$color-gray-alt: #40494d;
$color-gray-light: #F9FAFE;
$color-gray-lighter: #d1d6e3;
$color-gray-lightest: #EBEDF2;
$color-lighter-gray: #c4c4c4;
$color-gray-rich: #C0C4CD;
$color-gray-darkest: #2b2b2b;
$color-gray-disabled: #aaaaaa;
$color-gray-light-dark:#3d4a4f;
$color-blue-rich-heavy:#0F335C;
$color-blue-alt-heavy:#256dc0;
$color-white: #FFFFFF;
$color-lwhite:#ECECED;
$color-white-disable: #aacdb8;
$color-snow: #e8eaf2;
$color-black: #000000;
$color-black-soft: #333333;
$color-black-grey: #333;
$color-pink: #E766E2;
$color-tealish: #31AED0;
$gold-level-text: #494f66;
$color-cobalt: #004696;
$color-violet-light: #c1c9db;
$color-snow: #e8eaf2;
$color-gray-fiveaside: #00000080;
$color-black-boxshadow:#0000000d;
$color-black-boxshadowend:#00000026;
$color-green-3:#78BE20;
$color-black-betslip:#313131;
$colour-lighter-white: #c8cbcc;
$IgreySemiLighter: #d7d7d766;
$IblackDark: #0a0a0b;
$ILightWhite: #f8f8fa;
$lGrayMedium: #202020;
$lBlack-medium: #2b2b2b;
$color-gray-border: #F2F3F4;
$IGreyLightDark: #DCDCDD;
$lightGrey: #43494D;
$lightWhite : #E3E5EF;
$brand-color-denim-blue: #0B427A;

$brand-color-main: $color-blue;
$brand-color-secondary: $color-blue-principal;
$brand-color-dark: $color-blue-dark;
$brand-color-darkest: $color-blue-darkest;

/* ADDED  */
$color-blue-light: #0062a9;
$color-blue-alt2:#0C5FAC;
$color-blue-rich2:#0F335C;
$color-blue-lighter: #5e95c9;
$color-blue-more-light: #60a4e9;
$color-blue-lightest: #d7eaff;
$color-blue-gray: #3b6893;
$color-blue-cornflower: #4da2f9;
$color-lightest-blue: #064E97;
$color-darkest-blue: #093662;
$color-orange-light: #E5B800;
$color-bronze: #B78A37;
$color-platinum: #596e7b;
$color-platinum-light: #e0e2eb;
$madison: #093864;
$color-red-lightest: #ebe8e8;
$color-nevada: #646668;
$rock-blue: #9CB3CB;
$caribbean-green : #0abfa1;
$pink-trendy: #8d5ba1;
$rb-link-color: #5da3ec;
$color-gray-shadow: #a2a2a2;
$color-gray-silver: #cccccc;
$light-grey: #DCDCDC;
$color-glacier-white: #E9E9E9;
$color-green-grass: #4EA11B;
$color-green-disabled: #b3ca99;
$blue: $color-blue-dark;
$color-blue-bch-lighter: #2E55A2;
/*******ladbrokes colors*******/
$lGray-bg: #f9f9f9;
$lGrayLight: #efeff3;
$lGrayDark: #dddde4;
$lGraySemiLight: #d8d8d8;
$redDarkest: #4f0b0c;
$color-yellow-alt: #FAC031;
$color-yellow-darkest: #EFAA00;
$lBlack-light: #777;
$lGray: #252835;
$red: #f01e28;
$red4: #d01b23;
$link-color: $red;
$btn-bg-green-color: $color-green;

/***** Digital Keyboard *****/
$dk-border-color: rgba(65, 73, 78, 0.18);
$dk-button-color: #3a3d49;
$dk-font-size: 19px;
$box-shadow-gray: rgba(150, 150, 150, 0.5);
$color-black-light-medium-rgb: rgba(65, 73, 78, 0.35);
/***** Fallback Scoreboards *****/
$fb-scorebox-bg: #072a4b;
$fb-scorebox-bg-alt: $fb-scorebox-bg;
$fb-score-color: $color-yellow;
$fb-scorebox-border: #1e466c;
$fb-home-team-label: #fbc400;
$fb-away-team-label: #60a4e9;

/***** Banners Section Background *****/
$banners-section-color: $color-gray;
$banners-title: #004c93;
$banners-subtitle: #f23d47;
/*****Five-A-Side Colors*****/
$color-green-tropical: #028862;
$color-green-watercourse: #006742;
$color-green-bright-turquoise: #00feca;
$color-green-rain-forest: #00775B;
$color-eden: #10624f;
$color-green-observatory: #009d64;
$color-green-sea: rgba(0, 100, 77, 0.9);
$color-green-forest: #026850;
$color-yellow-gorse: #fff137;
$color-havelock-blue: #4871C3;
$color-rariner: #3159a7;
$color-green-disabled: #C2DB8F;
$color-green-slow: #549b70;
$color-green-deap: #028d5a;
$color-green-rain: #40bb98;
$color-shadow: rgba(0, 0, 0, 0.09);
$color-blue-selected: #007aff;
$color-very-light-gray: #c7c7c7;
$color-grey-very-dark: #EEEEEE;
$color-grey-very-light: #C2C2C2;
$warning-msg-color: #cff2f8;
$color-pantone: #3bb589;
$color-dunn-edwards: #017a5e;
$color-cyprus: #1b7c59;
$color-brand-background: $color-blue-selected;
$color-table-header-bg: #eaeaea;
$color-horse-form-table-bg: #f7f7f7;
$bh-gray-color: #f1f1f1;
$color-light-white-grey: #e3e3e3;
$color-light-green-leaf: #8bbd23;
$color-light-green-shade: #BBDE8F;
$color-border-top-dark-black: #1a2532;
$color-border-bottom-dark-black: #10171b;
$IGrayPremium:#181B25;
$color-amount-green: #8eba32;
$color-grey-separator: #acadaf;
$color-grey-sponsor: #9d9d9d;
$color-red-card-label: #7d0000;
$color-brand-dark-red: #A3030B;
$color-line-separator: #434c55;
$color-showdown-shadow: #0000000d;
$color-card-shadow: #00000026;
$color-card-prize: #daa520;
$color-scrollbar-track: #212629;
$color-scrollbar-thumb: #686868;
$color-scrollbar-webkit: #0000004d;
$color-lobby-desktop: #0f161a;

/* Promotions added colors */
$color-table-hightlight-bg: #E8F2D3;
$color-table-white-bg: #F4F4F4;
$info-gray-color: #383838;
$byb-line-color: #74a2f1;

/* Showdown added colors */
$color-bluecharcoal:#1a2532;
$color-maingreen:#8bbd23;
$color-gainsboro:#e3e3e3;
$color-mainblue:#5096e4;
$color-cyanblue:#10171b;
$color-darkgrayishblue:#434c55;
$color-softblue:#81c3f3;
$color-green:#78b200;
$color-grey:#d6d6d6;
/* Match Rewards added colors */
$how-it-works-bg-color: #063969;
/* cashout messaging added colors */
$color-yellow-medium: #ffcc02;
$color-white-light: #f9fafe;
$color-blue-medium:#84b8ee;
$color-black-heavy-medium: #222222;
$color-black-light-medium: #41494e;
$color-blue-heavy: #07294b;
/* Free ride added colors */
$color-red-light: #f30038;
$color-red-dark: #de2b00;
$color-white-disable-btn: #fff;
$color-grey-label: #999;
$color-grey-bg: #EDEDED;
$color-grey-slide : rgba(0, 0, 0, 0.2);
$color-grey-disable : rgba(0, 0, 0, 0.6);
$color-green-slide: #33C658;
$color-green-btn: #82b11f;
$color-green-light: #8ec025;
$color-green-dark: #7dab1e;
/*byb*/
$color-sign-disabled: rgba(65, 73, 78, 0.4);
$color-sign-enabled: #41494e;
$color-increment: #5a5a5a;
$color-green-shade: #78be20;
$color-blue-shade-heavy: #284669;
$color-green-disabled-byb: #b3ca99;
$color-grey-darker-byb: #cccfd9;
$color-grey-darker-byb-2: #ddd;
$color-green-disabled-byb-bkg: #c5de91;
$color-white-light-byb: #E9EBF0;
$color-black-stat-byb: #02060b;
$color-gray-dark-byb: #ddd;
$color-white-byb: #fff3;
$color-white-light-grey-byb: #ffffff4d;
$color-black-byb: #0003;
/*Bet Pack Market Place*/
$color-bpmp-banner-button: #96bb44;
$color-bpmp-card-content: #F6F6F9;
$color-bpmp-card-token: #E5E5E5;
$color-bpmp-betpack-background: #ecf3fc;
$color-bpmp-betpack-token-border: #c9bbbb;
/* Fanzone added colors */
$color-prussian-blue: #013867;
$color-off-white: #e7e9ef;
$color-blue-navy:  #1d3d7e;
$color-blue-home: #3e5c9f;
$color-lime: #96bb44;
$color-black-light-medium: #41494e;
$color-skyblue-light-mf: #E0F6FA;

/* Market Pills added colors */
$market-pills-bg: #e1e1ec;
$market-pills-color: #848599;

$market-template-odds-borders-top:1px solid #E0E2EB;
$market-template-odds-borders-bottom:0px solid #E0E2EB;

/* Non-runner notification colors */
$nonrunner-background-color:#d7eaff;
$extraPlaceMsg-color: #215793;
$nonrunner-content-color:#084d8d;
$nonrunnerMsg-arrow-size:11px;
$nonrunnerMsg-arrow-size-mob:5px;
$nonrunnerMsg-arrow-bottom:97%;
$EPR-signpost-background:#FFCD00;
/*BCH color codes*/
$bch-blue: #102948;
$bch-blue-1 :#08294B;
$color-light-black: #777777;
$antepost-btn: #112848;

/* two up color codes */
$twoup-font-color: #41494E;

$lGrayMediumLight: #3a3d49;
$ghost-white: #efeff3;
$color-ld-steps:rgba(0, 0, 0, 0.8);
$color-ld-mustard: #C4A560;
$color-light-gray:rgba(162, 162, 162, 0.26);
$color-deep-black: #000c;
$header-border-grey-dark: #f9f9f933;


$lb-bg-color: #f6f6f6;
$lb-th-bg-color: #E5E5E5;
$lb-coral-color: #093864;
$lb-header-bg-color: #F6F6F9;
$lb-gray-dark-color: #5a5a5a;
$lb-col-coral-color: #102948;
$lb-nav-coral-color: #072A4B;

$ql-arrow-color: #41494D;
$ql-coral-list-name: #3B3F42;

/* profit indicator */
$profit-indicator-color-green: #78BE20;

$ld-modal-background-color: #000000bf;
$ld-steps-number-color: #D1B881;

/* quick switch */
$no-events-message-color: #41494E;
$quick-switch-bg-color: #1F4D88;
