// ladbrokes new test colors
$red: #f01e28;
$red2: #c81a21;
$red3: #d81b24;
$red4: #d01b23;
$redDark: #7e0f11;
$redDarkest: #4f0b0c;
$redClear: #ff0000;
$lGray: #252835;
$lGrayLighter: #e3e3e3;
$lGrayLight: #efeff3;
$lGrayLightBg: #ebe8e8;
$lGraySemiLight: #d8d8d8;
$lGrayMedium: #202020;
$lGrayHard: #101010;
$IGrayPremium:#181B25;
$lGrayDark: #dddde4;
$lGrayDarkest: #bebebe;
$lGray-bg: #f9f9f9;
$color-medium-gray:#C6C8C9;
$color-gray-light-dark:#3d4a4f;
$color-gray-medium:#5c5e68;
$lBlack-light: #777;
$IGreyLightDark: #DCDCDD;
$lightGrey: #43494D;
$lightWhite : #E3E5EF;
/////////////

$brand-color-main: $red;
$brand-color-secondary: $red;
$brand-color-dark: $redDark;
$brand-color-darkest: $redDarkest;

$color-blue: #084D8D;
$color-dark-blue: #00008b;
$color-blue-principal: #1E466C;
$color-blue-dark: #07294B;
$color-blue-darkest: #062745;
$color-blue-rich: #06294a;
$color-green-slow: #549b70;
$color-white-disable: #aacdb8;
$color-blue-dark-2: #1e212b;
$lGrayMediumLight: #3a3d49;
$color-green: #8bbd23;
$color-green-dark-leaf:#5A8E18;
$color-light-green-shade: #BBDE8F;
$color-green-light-leaf:#9acf58;
$color-green-shine:#688e1a;
$color-green-cool:#97BB43;
$color-green-darkest: #759C2E;
$color-green-light2:#a8ce5a;
$color-green-shade: #78be20;
$color-green-disable:#DDE3B3;
$color-orange: #F56B23;
$color-orange-premium:#D74D04;
$color-orange-shine:#F48246;
$color-orange-light2:#EEAA04;
$color-orange-darker: #d65b1b;
$color-red: #EF3340;
$color-red-alt:#DC4648;
$color-redstone2:#C93A3C;
$color-yellow: #FFCD00;
$color-orange-peel:#bf9a00;
$color-yellow-alt: #FAC031;
$color-yellow-light: #fff270;
$color-gray-dark: #41494E;
$color-gray-racing-post: #4E5457;
$color-blue-dark-var: #203754;
$color-gray-dark-alt: #5a5a5a;
$color-gray-darker: #D7D7D7;
$color-gray-darkest: #2b2b2b;
$color-gray: #E0E2EB;
$color-gray-original:#BFBFBF;
$color-gray-light: #F9FAFE;
$color-gray-lighter: #d1d6e3;
$color-gray-lightest: #EBEDF2;
$color-lighter-gray: #c4c4c4;
$color-gray-rich: #C0C4CD;
$color-white-grey: #FFFFF0;
$color-gray-ghost: #c7c7cc;
$color-matterhorn: #4E4E4E;
$color-white: #FFFFFF;
$color-snow: #e8eaf2;
$color-black: #000000;
$color-black-soft: #333333;
$color-black-grey: #333;
$color-pink: #E763E2;
$color-tealish: #20ACCF;
$color-cobalt: #004696;
$color-violet-light: #c1c9db;
$color-surfacebet-title-bg: #F01E28;
$color-black-betslip:#313131;
$IgreySemiLighter: #d7d7d766;
$ILightestGrey: #3c4052;
$IblackDark: #0a0a0b;
$ILightWhite: #f8f8fa;
$lGrayMedium: #202020;

$brand-color-main: $red;
$brand-color-secondary: $red2;
$brand-color-dark: $redDark;
$brand-color-darkest: $redDarkest;

$color-blue-light: $red;
$color-blue-lighter: $red;
$color-blue-gray: $red;
$color-orange-light: #E5B800;
$color-bronze: #B78A37;
$color-blue-lightest: #d7eaff;
$color-platinum: #596e7b;
$color-platinum-light: #e0e2eb;
$madison: $redDark;
$color-nevada: #646668;

$caribbean-green : #0abfa1;
$pink-trendy: #8d5ba1;

/* Color palette */
$light-blue: $color-white;
$light-grey: #dcdcdc;
$dark-slate-blue-two: $redDark;
$color-gray-light-two: #e2e5f0;
$denim: $color-red;
$green: #09ac00;
$chalet-green: #506b32;
$gold-level-text: #494f66;
$menu-items-color: #fff;

/***** Designs colours *****/

$btn-bg-green-color: #8bbd23;

/* header colors */
$separator-color: #414141;
$gray-transparent: rgba($lGray, 0.8);
$green-transparent: rgba($color-green, 0.8);
$color-gray-darkest-alt: #282727;
$color-black-lighter: #121212;
$color-gray-fiveaside: #00000080;

$hover-bg: #3c3c3c;

/* market selector text color */
$blue: #4a90e2;
$gray: #e9e9e9;

/* sub-navigation menu */
$gray-color: #323649;

$warning-msg-color: #cff2f8;

/***** Banners Section Background *****/
$banners-section-color: $lGray-bg;
$banners-title: #004c93;
$banners-subtitle: #f23d47;

$list-arrow-icon-clr: #707070;
$color-table-header-bg: #eaeaea;
$color-horse-form-table-bg: #f7f7f7;

/* Promotions added colors */
$color-table-hightlight-bg: #E8F2D3;
$color-table-white-bg: #F4F4F4;
$bh-gray-color: #f1f1f1;
$info-gray-color: #383838;
$byb-line-color: #74a2f1;
$color-gray-disabled: #aaaaaa;


/* Showdown added colors */
$color-bluecharcoal:#1a2532;
$color-maingreen:#8bbd23;
$color-gainsboro:#e3e3e3;
$color-mainblue:#5096e4;
$color-cyanblue:#10171b;
$color-darkgrayishblue:#434c55;
$color-softblue:#81c3f3;
$color-black-boxshadow:rgba(0, 0, 0, 0.05);
$color-black-boxshadowend:rgba(0, 0, 0, 0.15);
$color-black-background:rgba(0, 0, 0, 0.88);
$color-overlay-background:rgba(0, 0, 0, 0.80);
$color-bg-black: #0f161a;
$color-scrollbar-track: #212629;
$color-scrollbar-thumb: #686868;
$color-scrollbar-webkit: #0000004d;
$color-lobby-desktop: #0f161a;
$color-background-black:#010101;
$color-green:#78b200;
$color-grey:#d6d6d6;
$color-white-light: #f9fafe;
/* Free ride added colors */
$color-red-light: #f30038;
$color-red-dark: #de2b00;
$color-white-disable-btn: #fff;
$color-grey-label: #999;
$color-grey-bg: #EDEDED;
$color-grey-slide : rgba(0, 0, 0, 0.2);
$color-grey-disable : rgba(0, 0, 0, 0.6);
$color-green-slide: #33C658;
$color-green-btn: #82b11f;
$color-green-light: #8ec025;
$color-green-dark: #7dab1e;

$color-green-shade: #8bbd23;
$color-blue-shade-heavy: #284669;
$color-blue-rich-heavy:#0F335C;
$color-blue-alt-heavy:#256dc0;
$color-grey-darker-byb: #cccfd9;
$color-grey-darker-byb-2: #ddd;
$color-green-disabled-byb-bkg: #c5de91;
$color-blue-alt: #4a90e2;
$color-blue-selected: #007aff;
$color-white-light-byb: #E9EBF0;
$color-black-stat-byb: #02060b;
$color-gray-dark-byb: #ddd;
$color-white-byb: #fff3;
$color-white-light-grey-byb: #ffffff4d;
$color-black-byb: #0003;

/* Fanzone added colors */
$color-prussian-blue: #013867;
$color-off-white: #e7e9ef;
$color-blue-navy:  #1d3d7e;
$color-blue-home: #3e5c9f;
$color-lime: #96bb44;
$color-black-light-medium: #41494e;
$color-skyblue-light-mf: #E0F6FA;

$market-template-odds-borders-top:0px solid #E0E2EB;
$market-template-odds-borders-bottom:1px solid #E0E2EB;

/* Non-runner notification colors */
$nonrunner-background-color:#4a90e2;
$nonrunner-content-color:#FFFFFF;
$extraPlaceMsg-color:#3B3736;
$nonrunnerMsg-arrow-size:8px;
$nonrunnerMsg-arrow-bottom:96%;
$EPR-signpost-background:#FAC031;
/*BCH color codes*/
$bch-blue: #102948;
$bch-blue-1 :#08294B;

/* two up color codes */
$twoup-font-color: #5a5a5a;
$ghost-white: #f8f8fa;
$switcher-grey-lighter: #757780;

$lb-bg-color: #f6f6f6;
$lb-th-bg-color: #E5E5E5;
$lb-coral-color: #093864;
$lb-header-bg-color: #F6F6F9;
$lb-gray-dark-color: #5a5a5a;
$lb-col-coral-color: #102948;
$lb-nav-coral-color: #072A4B;

$ql-arrow-color: #41494D;
$ql-coral-list-name: #3B3F42;

/* profit indicator */
$profit-indicator-color-green: #78B200;

/* quick switch */
$no-events-message-color: #2B2B2B;
$quick-switch-bg-color: #1F4D88;
