$base-font-family:        'Roboto Condensed';
$alt-font-family:         'Helvetica Neue', Helvetica, Arial, sans-serif;
$chat-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
$twoup-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$basic-font-family:"Helvetica Neue";
$robo-font-family:'Roboto Condensed';
$lato-font-family:'Lato';

$font-size-base:          14px;
$font-size-small:         ceil(($font-size-base * 0.85)); /* ~12px */

/* Fonts */
$font-size-header1: 18px;
$font-size-lgst: 17px;
$font-size-lgr: 16px;
$font-size-xl: 15px;
$font-size-lg: 14px;
$font-size-tablet: 13px;
$font-size: 12px;
$font-size-md: 11px;
$font-size-sm: 10px;
$font-size-pre-xs: 9px;
$font-size-xs: 8px;
$font-size-xxs: 7px;
$twoup-font-size: 10px;

$line-height-sm-alt: 15px;
$line-height-sm: 16px;
$line-height-xs: 12px;
$line-height: 18px;
$line-height-md: 20px;
$line-height-normal: 1.2;


/* buttons */
/* header buttons */
$btn-line-height: 30px;

//fanzone fonts
$height-fanzone-home: 180px;
$fanzone-banner-height: 80px;
$fanzone-topbar-padding: 13px 309px 12px 12px;
$fanzone-banner-padding:  8px 146px 8px 12px;
$fanzone-icon: 42px;
$fanzone-crest-logo: 30px;
$font-size-two: 2px;
$font-size-top: 34px;
$welcome-text-width: 75vw;
//quickswitch
$font-family-quickswitch: $basic-font-family;
$padding-changematch: 5px;
$matchesheight-quickswitch: 15px;
$height-changematch: 14px;
$fontsize-changematch: 12px;
$fontsize-matches: 13px;