include crlat_gvc_wallet_client/utils/*.*
include crlat_gvc_wallet_client/utils/request/*.*
include crlat_gvc_wallet_client/resources/*.*
include crlat_gvc_wallet_client/resources/logging/*.*
include README.md
include version.txt