@import 'global.variables.scss';

.inspired-virtual-carousel {
  .virtual-carousel {
    .carousel-slides {
      .slide {
        background-color: $color-gray-light
      }
    }
  }
}
.virtualsTitleHeader{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.006px;
  color: #102948;
  height: 18px;
}

