<div class="card" *ngIf="competitions">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Big Competitions Page
      <small *ngIf="competitions.length">Total Active Competitions: {{competitionsAmount.active}}, Inactive Competitions: {{competitionsAmount.inactive}}</small>
      <small *ngIf="!competitions.length">No Competitions Found</small>
    </h2>
  </div>
</div>

<div class="card" *ngIf="competitions">
  <div class="body">
    <!-- search and download button.-->
    <div class="row clearfix">
      <div class="col-md-3">
        <button (click)="createCompetition()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create Competition</span>
        </button>
      </div>
      <div class="col-md-3" *ngIf="competitions.length">
        <download-cvs [cvsData]="competitions" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Competition" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- main content, config groups list-->
    <div *ngIf="competitions.length">
      <cms-data-table
        [customTableData]="competitions"
        [customTableColumns]="dataTableColumns"
        [reorder]="false"
        [actions]="['remove','edit']"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        (onRemoveTableElement)="removeCompetition($event)">
      </cms-data-table>
    </div>
    <div>
      <div *ngIf="!competitions.length">No Competitions Found</div>
    </div>
  </div>
</div>
