.loaded-event-input {
  width: 90%;
}

.header.event-items-header {
  margin-bottom: 10px;
}

.featured-module-edit {
  .header {
    .header-dropdown {
      top: 12px;
    }

    .btn {
      font-size: 10px !important;
      background: #00776A !important;
      padding-right: 8px;

      i {
        top: 2px;
      }

      span {
        top: -4px;
      }
    }
  }

  .items-block {
    padding: 5px;
  }

  .footer-buttons-row {
    >div {
      margin-bottom: 0;
    }
  }
}

.module-events-list {
  li:first-child {
    margin-top: 30px;
  }

  li {
    margin: 10px 0 5px 0;
  }
}
