@import 'global.variables.scss';

.inspired-virtual-carousel {
  .virtual-carousel {
    .carousel-slides {
      .slide {
        background-color: $color-gray-light
      }
    }
  }
}
.virtualsTitleHeader{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.00144375px;
  color: #000000;
  height: 18px;
}

