@import 'global.variables.scss';

:host-context(.next-races) {
  .race-card-carousel {
    ::ng-deep .race-timer {
      .label {
        font-size: 11px
      }
      .value {
        color: $blue;
        font-size: 11px
      }
    }
  }
}
.widget-column {
  @media screen and (min-width: $md-point) {
    min-width: 40%;
  }
}
