:host ::ng-deep .competition-filters .competition-match-wrapper {
    .no-filtered-events {
      margin-top: 6px;
      padding-top: 5px;
    }
  
    .market-selector .dropdown {
      top: -97px;
    }
  }
  