{% extends "openjdk8.jinja2" %}
{% block content %}
### Featured MS MiddleWare INSTALLATION SECTION START

ADD {{ src_jar }} {{ dst_jar }}
WORKDIR /opt

### Featured MS MiddleWare INSTALLATION END
{% endblock %}