@import 'global.variables.scss';

.team-image,
.player-image {
    border-radius: 50%;
}

.flag-border {
    border: 0.5px solid $color-white;
}

.flag-border-details {
    border: 1px solid $color-white;
}

.image-overflow {
    overflow: hidden;
    @include display-flex();
    @include align-items(center);
}
.height-width {
    height: 17px;
    width: 17px;
}