@font-face {
    font-family: 'Tungsten Bold';
    src: url('/assets/styles/modules/banners/fonts/tungsten/Tungsten-Bold-eot.eot');
    src: local('Tungsten Bold'),
    local('Tungsten Bold'),
    url('/assets/styles/modules/banners/fonts/tungsten/Tungsten-Bold-woff2.woff2') format('woff2'),
    url('/assets/styles/modules/banners/fonts/tungsten/Tungsten-Bold-eot.eot?#iefix') format('embedded-opentype'),
    url('/assets/styles/modules/banners/fonts/tungsten/Tungsten-Bold-ttf') format('truetype'),
    url('/assets/styles/modules/banners/fonts/tungsten/Tungsten-Bold-woff.woff') format('woff');
  }
