@import 'global.variables.scss';

:host {
  margin: 0;

  accordion-body {
    margin: 0 4px;
    display: block;

    .market-terms {
      background: $color-white;
      font-size: $font-size-md;
      color: $color-gray-darkest;
      padding: 12px 12px 0;
      font-family: $alt-font-family;
    }
  }
}