/* *********************************************************************************************************************

  SETTINGS:
  Contains the variables used across your project, e.g. color defaults, grid settings etc

********************************************************************************************************************* */

/* Default breakpoints */
$st-point      : 970px;
$sm-point      : 1024px;
$md-point      : 1280px;
$lg-point      : 1600px;
$xl-point      : 1920px;

// Components blocks aliments
$componets-edge-gap: 10px;

// Price odd button
$price-odd-btn-max-width-1599: 52px;
$price-odd-btn-min-width-1600: 90px;

// Accordion settings
$accordion-header-height: 40px;
$accordion-yourcall-icon: 18px;
$accordion-header-icon-size: 12px;
$accordion-freebets-icon-size: 25px;

// Odds buttons
$odds-button-small-size: 1599px;
$odds-button-big-size: 1600px;
