<div class="custom-dialog">
  <h1 mat-dialog-title [textContent]="title"></h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Secret Name" [(ngModel)]="secret.name" [value]="secret.name" required trim="blur" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Access URI" [(ngModel)]="secret.uri" [value]="secret.uri" required trim="blur" />
        </mat-form-field>
      </div>
    </div>
    <div class="row m-t-10 m-b-20">
      <div class="col-md-2">
        <mat-checkbox color="primary"
                      [checked]="secret.enabled"
                      (change)="secret.enabled = !secret.enabled">
          Active
        </mat-checkbox>
      </div>
    </div>

    <table class="table table-bordered secret-items-list">
      <thead>
        <tr>
          <th class="col-sm-4">Secret Item</th>
          <th class="col-sm-8">Value</th>
          <th>
            <a class="btn btn-add" (click)="addItem();">
              <i class="material-icons">add_box</i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="secret.items.length">
        <tr #itemRef *ngFor="let item of secret.items;">
          <td>
            <mat-form-field class="full-width" [ngClass]="{ 'invalid-key': item.emptyKey || item.duplicateKey }">
              <input matInput
                     [(ngModel)]="item.key"
                     (ngModelChange)="validateKeys()"
                     [value]="item.key"
                     [disabled]="item.removed"
                     trim="blur" />
              <mat-hint class="col-red"
                        *ngIf="item.emptyKey || item.duplicateKey"
                        [textContent]="item.duplicateKey ? 'Duplicate key' : 'Enter Item key'"></mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput
                     [(ngModel)]="item.value"
                     [value]="item.value"
                     [disabled]="item.removed"
                     trim="blur" />
            </mat-form-field>
          </td>
          <td>
            <a class="btn" [ngClass]="item.removed ? 'btn-undo' : 'btn-remove'" (click)="toggleItem(item);">
              <i class="material-icons" [textContent]="item.removed ? 'undo' : 'remove_circle'"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!secret.items.length">
        <tr>
          <td colspan="3" class="col-md-12 text-center">
            <span>No Secret Items are configured. Use</span>
            <a class="btn btn-add" (click)="addItem();">
              <i class="material-icons">add_box</i>
            </a>
            <span>button to add.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn btn-sm bg-cean m-r-20 float-right" (click)="closeDialog()">Cancel</button>
    <button mat-button class="btn btn-sm bg-teal float-right" [disabled]="!isValidSecretEntry" (click)="normalizeEntry();" [mat-dialog-close]="secret">Save</button>
  </div>
</div>
