.table.secret-items-list {
  &, th, td {
    border: 0 solid transparent;
  }

  th {
    border-bottom: 1px solid #AAAAAA;
  }

  .btn {
    padding: 0;
    box-shadow: none;
    line-height: 1em;
    vertical-align: bottom;

    &.btn-add, &.btn-undo {
      color: #00776A;
    }
    &.btn-remove {
      color: #F44336;
    }
  }

  ::ng-deep .mat-form-field {
    .mat-input-wrapper {
      padding-bottom: 0;
    }
    .mat-input-underline {
      bottom: 0;
    }
    .mat-input-infix {
      border-top: none;
    }
    .mat-input-subscript-wrapper {
      top: 0.8em;
      margin-top: 0;
      pointer-events: none;

      .mat-input-hint-wrapper {
        flex-direction: row-reverse;

        .mat-hint {
          background-color: rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.9);
          padding: 0 0 5px 5px;
        }
      }
    }

    &.invalid-key {
      .mat-input-element {
        color: #F44336;
      }

      .mat-input-ripple {
        visibility: visible;
        transform: scaleX(1);
        background-color: #f44336;
      }
    }
  }
}
