<div *ngIf="qeQuickLinks" class="card">
  <div class="header">
    <h2 class="waves-effect waves-block">
      QE Quick Links Page
    </h2>
  </div>
</div>

<div class="card">
  <div class="body">
    <!-- search and download button.-->
    <div *ngIf="qeQuickLinks" class="row clearfix">
      <div class="col-md-3">
        <button (click)="createQEQuickLinks()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create QE Quick Links</span>
        </button>
      </div>
      <div class="col-md-3">
        <download-cvs [cvsData]="qeQuickLinks" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For QE Quick Links" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="qeQuickLinks">
      <cms-data-table
        [customTableData]="qeQuickLinks"
        [customTableColumns]="dataTableColumns"
        [actions]="['remove', 'edit']"
        [multyRemove]="true"
        [filterString]="searchField"
        [filterProperties]="searchableProperties"
        (onRemoveTableElement)="removeHandler($event)"
        (onMultyRemove)="removeHandlerMulti($event)">
      </cms-data-table>
    </div>
    <div *ngIf="error">
      Request Error
    </div>
  </div>
</div>
