
.idea
*.iml
out
gen
build/
.*/
dist/
data/
meta/
wal/
crlat_testrail_integration/utils/__pycache__/
crlat_testrail_integration/__pycache__/
*egg-info
*.txt
env
services.crlat.net/
crlat-services.symphony-solutions.eu/