@import 'global.variables.scss';

.res-top .row{
  border-top: 1px solid $color-gray;
  background: $color-white;
}
.bch-data{
  float: left;
  width: 100%;
  border-bottom: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
}