.create-edit-section {
    .align-middle {
        vertical-align: middle;
    }
    .space-btns-evenly {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .pt-15{
        padding-top:15px;
    }
    .t-1{
        top:1px;
    }    
}

.no-margin-bottom {
  margin-bottom: 0;
}

.copy-icon{
    cursor: pointer;
}
