@import 'global.variables.scss';

.container {
  background-color: $color-border-bottom-dark-black;

  @media #{$mqMobile} {
    border-top: 1px solid $color-border-top-dark-black;
  }

  .my-entries {
    @include setFontProps($alt-font-family, $font-size-bit-lgr, bold, $color-light-white-grey);
    margin: 0 18px 6px 18px;

    @media #{$mqMobile} {
      margin: 9px 15px 8px 15px;
    }
  }

  .my-entries-right {
    @include setFontProps($base-font-family,$font-size-base,normal,$color-light-white-grey);
    margin: 0 15px 6px 15px;
    float: right;
    .rules {
      color: $color-blue-selected;
    }
    @media #{$mqMobile} {
      margin: 9px 14px 8px 14px;
    }
  }

  .content {
    padding: 0px 4px;
    background-color: $color-border-bottom-dark-black;
  }
}
