<div class="leaderboard-widget" (click)="onWidgetClick()">
    <div class="five-a-side-icon">
        <svg>
            <use xlink:href="#ladbrokes-blue-icon"></use>
        </svg>
    </div>
    <div class="widget-header-text">
        <span [i18n]="'fs.fiveASideBetHeader'"></span>
    </div>
</div>
<lazy-component
    moduleUri="@lazy-modules-module/casinoMyBetsIntegration/casino-my-bets-integration.module#CasinoMyBetsIntegrationModule"
    [inputs]="{showLeavingCasinoDialog}" [outputs]="['userAction']" (event)="confirmationDialogClick($event)" entryComponent="LeavingCasinoDialogComponent">
</lazy-component>
