<div class="card">
  <div class="header">
    <h2>Promotions Sections</h2>
    <small>This is the List of Promotions Sections For Specific Brand</small>
  </div>
</div>

<div class="card">
  <div class="body">
    <div class="row clearfix">
      <div class="col-md-3">
        <button mat-button type="button" class="btn bg-teal waves-effect float-left" (click)="addPromotionsSections();">
          <mat-icon>add_box</mat-icon>
          <span>Create New Promotions Sections</span>
        </button>
      </div>
      <div class="col-md-3">
        <download-cvs [cvsData]="promotionsSections" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Promotions Sections" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isLoading && (!promotionsSections || !promotionsSections.length)">
      <div class="col-md-12">
        <h3>No Promotions Sections Found <span class="font-italic font-underline"></span></h3>
      </div>
    </div>
    <div *ngIf="promotionsSections && promotionsSections.length > 0">
      <cms-data-table
        [customTableData]="promotionsSections"
        [customTableColumns]="dataTableColumns"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        [reorder]="true"
        [multyRemove]="true"
        [actions]="['remove', 'edit']"
        (onElementsOrder)="reorderHandler($event)"
        (onRemoveTableElement)="removePromotionsSections($event)"
        (onMultyRemove)="removeHandlerMulty($event)">
      </cms-data-table>
    </div>
  </div>
</div>