.mini-games-container {
  text-align: center;

  .mini-games-iframe {
    width: 290px;
    height: 445px;
    border: 0;
  }

  .mini-games-error {
    padding: 15px;
  }

  .mini-games-spinner {
    display: flex;
  }
}
