siteServer.base.url={{qb_mock_address}}/
remote-betslip.elasticache.host=redis
remote-betslip.elasticache.port=6379
liveserv.url={{qb_mock_address}}/push
logging.level.com.coral.digitalsports=WARN
bpp.url={{qb_mock_address}}/Proxy/
logging.level.com.coral.bpp.api=WARN
digitalSports.logging.level=BASIC
digitalSports.url={{qb_mock_address}}
