@import 'global.variables.scss';

@mixin font-styles($color,$fs,$fw){
    color: $color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $fs;
    font-style: normal;
    font-weight: $fw;
}

.qb-receipt-wrapper {
    margin: 0;
    background: $color-white;
}

.qb-stake-header {
    max-height: inherit;
    padding: 0 15px 15px 15px;
    position: relative;
    color: $color-gray-darkest;
}

.qb-win-alerts-content {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    .qb-win-alerts-info {
        font-size: 11px;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        .win-alerts-info-icon {
            width: 14px;
            height: 14px;
            position: relative;
        }

        span {
            margin-left: 4px;
            white-space: nowrap;
        }
    }
}

.line {
    width: 100%;
    margin-bottom: 4px;
    white-space: nowrap;
}

.line:last-child {
    margin: 0;
}

.left {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    z-index: 1;
}

.qb-win-alerts-wrapper {
    align-items: flex-start;
    flex: 0 1 auto;
    justify-content: flex-end;
}

.qb-stake-info {
    font-weight: 400;
    margin: 8px 0;
}

.selection-type,
.qb-single-receipt-odds {
    @include font-styles($color-gray-darkest,15px,700);
    line-height: normal;
    
}

.receipt-id {
    @include font-styles($lBlack-light,12px,400);
    line-height: normal;
}

.epr {
    display: flex;
    align-items: center;
    margin-top: -10px;
    font-size: 12px;
}

.right-section {
    align-items: flex-end;
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
}

.right {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    z-index: 1;

    &.qb-win-alerts-wrapper {
        align-items: flex-start;
        flex: 0 1 auto;
        justify-content: flex-end;
    }

    .qb-stake-info {
        line-height: 1;
        white-space: normal;
    }
}

.qb-stake-footer {
    background: $lGrayLight;
    padding: 15px;
    border-top: 1px dashed $color-gray;
    position: relative;
    white-space: nowrap;
    margin: 0 -15px 0;
}

.summary-info {
    width: 100%;
    white-space: nowrap;

    .description {
        @include font-styles($color-gray-darkest,13px,700);
    }
    .total-stake-ld{
        font-weight:400;
    }

    .amount {
        @include font-styles($color-gray-darkest,13px,400);
    }
    .amount-potret {
        @include font-styles($color-gray-darkest,13px,700);
    }
}

:host ::ng-deep {
    .promo-labels {
        &.promo-lucky-dip {
            padding-bottom: 15px;
        }
    }

    .promo-label {
        &.small-icon {
            font-size: 10px;
        }
    }
}

.selection-type .qb-single-receipt-odds {
    @include font-styles($color-gray-darkest,15px,700);
    line-height: normal;
}

.total-stake {
    @include font-styles($lGray,13px,500);
    line-height: normal;
}

.total-returns {
    @include font-styles($lGray,13px,700);
    margin-top: 8px;
}

.base-btn {
    height: 45px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-white;
    float: left;
}

.done-btn {
    width: 100% !important;
    background: $color-green-shade;

    &:hover {
        background: $color-green-light-leaf;
    }

    &:active {
        background: $color-green-dark-leaf;
    }
}


.total {
    @include display-flex();
  }
  .total-lable {
    @include flex(2);
    text-align: left;
  }
  .total-value {
    @include flex(1);
    text-align: right;
  }

  .total-lable-bs {
    text-align: left;
  }

  .bs-total-wrapper{
    padding:15px 0 0;
  }
 :host ::ng-deep .receipt-header-container{
    margin:10px 0 0;
  }

  .bs-receipt-container {
    padding: 12px 12px;
    box-shadow: 0 4px $lGrayLight;
    margin-bottom: 2px;
    @include font-styles($color-gray-darkest,12px,400);
    line-height: normal;
    font-family: $alt-font-family;
}

.qb-stake-description{
    font-weight:400;
}