.date-input {
  width: 100%;
  font-size: 14px;
}

.time-input {
  width: 32px;
  font-size: 14px;
  margin-right: 4px;
}

.time-column {
  width: 136px;
  display: flex;
}

.set-date-btn {
  margin-top: 12px;
}
