.popcontent {
    line-height: 40px;
}
.subModuleListbox {
    border: 1px solid #958c8c;
    padding: 10px;
    margin-bottom: 15px;
}

.subModuleListfields {
    display: flex;
    gap: 30px;
    align-items: center;
}