<div class="card" *ngIf="gamesData">
  <div class="header">
    <h2 class="waves-effect waves-block">
      Games Page
    </h2>
  </div>
</div>
<div class="card">
  <div class="body">
    <!-- search and download button.-->
    <div *ngIf="gamesData" class="row clearfix">
      <div class="col-md-3">
        <button (click)="createGame()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create Game</span>
        </button>
      </div>
      <div class="col-md-3">
        <download-cvs [cvsData]="gamesData" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Games" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- main content, config groups list-->
    <div *ngIf="gamesData">
      <cms-data-table
        [customTableData]="gamesData"
        [customTableColumns]="dataTableColumns"
        [multyRemove]="true"
        [actions]="['remove','edit']"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        (onRemoveTableElement)="removeGame($event)"
        (onMultyRemove)="removeHandlerMulty($event)">
      </cms-data-table>
    </div>

    <div *ngIf="getDataError">
      Request Error
    </div>
  </div>
</div>
