@import 'global.variables.scss';

.share-icon {
    width: 11px;
    height: 11px;
    fill: $color-blue-alt;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
}

.ios-icon {
    width: 10.4px;
    height: 13px; 
    margin-bottom: 4px;
}

.share-svg-coral {
    margin-left: 5.3px;
}

.shareLayout {
    text-transform: uppercase;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.000825px;
    cursor: pointer;
}

.share-txt-lads {
    width: 34px;
    height: 14px;
}

.share-txt-coral {
    width: 39px;
    height: 14px;
}

.share-icon-coral {
    color: #072A4B;
}

.share-icon-lads {
    color: #4A90E2;
}

.marginTop {
    margin-top: -2.5px;
}