.text-length {
    margin-top: 22px;
}

.change-launch-image-btn,
.change-splash-image-btn,
.change-free-ride-image-btn,
.launch-image-btn,
.splash-image-btn,
.free-ride-image-btn {
    margin-top: 10px;
}

.disable-text {
    color: rgba(0,0,0,.38);
}