/*****Color Scheme For Coral Brand In Bet Radar Integration*****/
$color-1: #000000;
$color-2: #ffffff;
$color-3: #84b8ee;
$color-4: #ffcd00;
$color-5: #60a4e9;
$color-6: #77a6d6;
$color-7: #5e7ea4;
$color-8: #b3b4b8;
$color-9: #b8d6f5;
$color-10: #41444f;
$color-11: #252835;
$color-12: #3b3e49;
$color-13: #30394b;
$color-14: #98c4f1;
$color-15: #ffdf59;
$color-16: #a9cdf3;
$color-17: #4e7fb3;
$color-18: #42536d;
$color-19: #719bc9;
$color-20: #be9c10;
$color-21: #ac182e;
$color-22: #595c65;
$color-23: #bebfc2;
$color-24: #7c7e86;
$color-25: #3f424d;
$color-26: #323541;
$color-27: #e9eaeb;
$color-28: #c9c9cd;
$color-29: #e43b3b;
$color-30: #354054;
$color-31: #f5a623;
$color-32: #d0021b;
$color-33: #00a4ff;
$color-34: #f7ab11;
$color-35: #009900;
$color-36: #4b90de;
$color-37: #f4a621;
$color-38: #2a2f3e;
$color-39: #0e8094;
$color-40: #4a9fe4;
$color-41: #0a6cce;
$color-42: #51d151;
$color-43: #1b911b;
$color-44: #941d1d;
$color-45: #e93a34;
$color-46: #ef6c00;
$color-47: #ffb848;
$color-48: #fdd835;
$color-49: #4fbe30;
$color-50: #ffbf00;
$color-51: #2579ad;
$color-52: #3e4d65;
$color-53: #6a93be;
