<div class="card" *ngIf="participants">
  <div class="body">
    <!-- search and download button.-->
    <div class="row clearfix">
      <div class="col-md-3">
        <button (click)="createParticipant();" mat-button type="button" class="btn bg-teal waves-effect float-left">
          <mat-icon>add_box</mat-icon>
          <span>Add Participant Details</span>
        </button>
      </div>
      <div class="col-md-3" *ngIf="participants.length">
        <download-cvs [cvsData]="participants" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0" *ngIf="participants.length">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Participants" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="participants.length">
      <cms-data-table
        [customTableData]="participants"
        [customTableColumns]="dataTableColumns"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        [actions]="['remove', 'edit']"
        (onRemoveTableElement)="removeParticipant($event)">
      </cms-data-table>
    </div>
    <div *ngIf="!participants.length">Participants Details List is Empty</div>
  </div>
</div>
