@import 'global.variables.scss';

.race-market {
  position: relative;
  .race-market-header {
    .header-wrapper {
      @include display-flex();
      @include justify-content(flex-end);
      @include align-items(center);
      margin: 0;
      padding: 0 12px 0 0;
      background-color: $color-gray-light;
      min-height: 35px;

      @media (min-width: $tabletPoint) {
        min-height: 27px;
      }
      li {
        min-width: 50px;
        list-style-type: none;
        text-align: center;
        font-size: $font-size-sm;
        font-family: $base-font-family;
        color: $color-gray-dark;
        text-transform: uppercase;
        margin-left: 6px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .btn.btn-bet,
  .btn-bet {
    width: 50px;
    //disabled
    &.active[disabled], &.bet-up[disabled],
    &.bet-down[disabled], &.bet-dis[disabled],
    &[disabled] {
      width: 50px;
    }
  }
  .price-odds-wrapper {
    margin-left: 6px;
  }
  .odds-card {
    padding: 8px 12px 8px 8px;
    box-shadow: none;
    .odds-right {
      @include align-items(start);
    }
  }
  ::ng-deep .previous-prices {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    width: 50px;
    font-size: 9px;
    margin-top: 3px;

    &.prev-long-prices {
      width: 33px;
    }
  }
  @media(max-width: $mobilePoint) {
    .toggle-icon {
    display: inline;
      > span {
        display: none;
      }
    }
  }

}
.sort-by-enabled .race-market {
  margin-top: 0;
}

.odds-card .odds-content .odds-left .odds-names .odds-small {
  .toggle-icon.cd-flag-style {
    > span {
      display: inline;
    }
   }
   .toggle-icon.cd-coral-desktop-hr {
    > span {
      display: none!important;
    }
   }
 }

 :host ::ng-deep { 
  .toggle-icon {
    padding-left: 0px;
  }
  .form-guide-color {
    margin-right: 4px;
  }
  .showMoreLess {
    padding-right: 4px;
  }
  .race-market .new-race-card .odds-content .toggle-icon svg {
    margin-left: 0px;
  }
}
