.vn-bma{
@import '../../components/eventTitleBar/event-title-bar.scss';
@import '../../components/sportEventMain/sport-event-main.component.scss';


@import '../../components/markets/correctScore/correct-score.component.scss';
@import '../../components/markets/playerStats/your-call-player-stats.component.scss';

.sport-event-tabs {
  display: block;
  width: 100%;
  .horseracing-info-icon {
    display: none;
  }
}
}