<div class="card" *ngIf="!isLoading">
    <div class="header">
      <h2>Payment Methods List</h2>
      <small>This is the List of Payment Methods Used by Currently Selected Brand, Provide Functionality to Change Order and Disable Payment Method</small>
    </div>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="body">
    <div class="row clearfix">
      <div class="col-md-3">
        <button mat-button type="button" class="btn bg-teal waves-effect float-left" (click)="addNewPaymentMethod();">
          <mat-icon>add_box</mat-icon>
          <span>Create New Payment Method</span>
        </button>
      </div>
      <div class="col-md-3" *ngIf="paymentMethods && paymentMethods.length > 0">
        <download-cvs [cvsData]="paymentMethods" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-md-6 m-b-0" *ngIf="paymentMethods && paymentMethods.length > 0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For Payment Method" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isLoading && (!paymentMethods || !paymentMethods.length)">
      <div class="col-md-12">
        <h3>No Payments Methods Setup Found <span class="font-italic font-underline"></span></h3>
      </div>
    </div>
    <div *ngIf="paymentMethods && paymentMethods.length > 0">
      <cms-data-table
        [customTableData]="paymentMethods"
        [customTableColumns]="dataTableColumns"
        [reorder]="true"
        (onElementsOrder)="reorderHandler($event)"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        [actions]="['remove', 'edit']"
        (onRemoveTableElement)="removePaymentMethod($event)">
      </cms-data-table>
    </div>
  </div>
</div>