<div class="card" *ngIf="marketsData">
  <div class="header">
    <h2 class="waves-effect waves-block">
      YourCall Markets Page
      <small *ngIf="marketsData.length">Total Markets Amount: {{marketsData.length}}</small>
      <small *ngIf="!marketsData.length">No YourCall Markets Found</small>
    </h2>
  </div>
</div>

<div class="card" *ngIf="marketsData">
  <div class="body">
    <!-- search and download button.-->
    <div class="row clearfix">
      <div class="col-6 col-md-3">
        <button (click)="createMarket()" type="button" class="btn bg-teal waves-effect float-left">
          <i class="material-icons">add_box</i>
          <span>Create YourCall Market</span>
        </button>
      </div>
      <div class="col-6 col-md-3">
        <download-cvs [cvsData]="marketsData" [cvsDataTable]="dataTableColumns"></download-cvs>
      </div>
      <div class="col-12 col-md-6 m-b-0">
        <div class="input-with-icon m-b-0">
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput placeholder="Search For YourCall Market" [(ngModel)]="searchField" [value]="searchField">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- main content, config groups list-->
    <div *ngIf="marketsData && marketsData.length > 0">
      <cms-data-table
        [customTableData]="marketsData"
        [customTableColumns]="dataTableColumns"
        [reorder]="true"
        [actions]="['remove','edit']"
        [filterString]="searchField"
        [filterProperties]="filterProperties"
        (onElementsOrder)="reorderHandler($event)"
        (onRemoveTableElement)="removeMarket($event)">
      </cms-data-table>
    </div>
  </div>
</div>

<div class="card" *ngIf="getDataError">
  <div class="body">
    Request Error
  </div>
</div>
