// ladbrokes new test colors
$red: #f01e28;
$red2: #c81a21;
$red3: #d81b24;
$red4: #d01b23;
$redDark: #7e0f11;
$redDarkest: #4f0b0c;
$lGray: #252835;
$lGrayLighter: #e3e3e3;
$lGrayLight: #efeff3;
$lGraySemiLight: #d8d8d8;
$lGraySemiMediumLight: #e1e1e1;
$IGraySemiMediumLightB: #efefef;
$lGrayMediumLight: #3a3d49;
$lGrayMedium: #202020;
$lGrayHard: #101010;
$IGrayPremium:#181B25;
$lGrayDark: #dddde4;
$lGrayDarkest: #bebebe;
$IGreyLightDark: #DCDCDD;
$ILightestGrey: #3c4052;
$lGray-bg: #f9f9f9;
$lBlack-light: #777777;
$lBlack-medium: #2b2b2b;
$gray: #e9e9e9;
$IgreySemiLighter: #d7d7d766;
$IblackDark: #0a0a0b;
$ILightWhite: #f8f8fa;
$lGrayMedium: #202020;
$color-gray-light-dark:#3d4a4f;
$IGreyLightDark: #DCDCDD;
$lightGrey: #43494D;
$lightWhite : #E3E5EF;
$color-grey-very-dark: #EEEEEE;
$color-grey-very-light: #C2C2C2;
$color-blue-rich-heavy:#0F335C;
$color-blue-alt-heavy:#256dc0;

$brand-color-main: $red;
$brand-color-secondary: $red;
$brand-color-dark: $redDark;
$brand-color-darkest: $redDarkest;

/////////////
$color-blue: #084D8D;
$color-blue-alt2:#0C5FAC;
$color-blue-rich2:#0F335C;
$color-dark-blue: #00008b;
$denim-blue: #3a6083;
$color-blue-principal: #1E466C;
$brand-color-denim-blue: #0B427A;
$color-lightest-grey: #252835;
$color-darkest-black: #252836;
$color-blue-dark: #07294B;
$color-blue-darker: #203e5d;
$color-blue-darkest: #062745;
$color-bright-blue: #074e8c;
$color-blue-rich: #06294a;
$color-green: #82b11f;
$color-green-1: #8ec025;
$color-green-2: #7dab1e;
$color-green-dark-leaf:#5A8E18;
$color-light-green-shade: #BBDE8F;
$color-green-light-leaf:#9acf58;
$color-green-3:#78BE20;
$color-green-lighter: #c2e193;
$color-green-dark: #659e1d;
$color-green-light2:#a8ce5a;
$color-green-shine:#688e1a;
$color-green-shade: #78be20;
$color-green-grass: #4EA11B;
$color-green-light: #D3E6BC;
$color-green-disable:#DDE3B3;
$color-light-green-1: #cce39d;
$color-light-green-2: #c5da9a;
$color-orange: #F56B23;
$color-orange-premium:#D74D04;
$color-orange-darker: #d65b1b;
$color-orange-dark: #d45e20;
$color-orange-2: #f08937;
$color-orange-shine:#F48246;
$color-orange-light2:#EEAA04;
$color-red: #EF3340;
$color-red-alt:#DC4648;
$color-redstone2:#C93A3C;
$color-red-2: #f34444;
$color-brand-dark-red: #A3030B;
$color-yellow: #FFCD00;
$color-yellow-alt2:#FFDA40;
$color-yellow-dark2:#D8AD00;
$color-orange-peel:#bf9a00;
$color-yellow-darkest: #EFAA00;
$color-yellow-dark: #ffac00;
$color-yellow-light: #fff270;
$color-yellow-alt: #FAC031;
$color-yellow-extra: #fac031;
$color-yellow-light2: #fbcc5a;
$color-bleach-white: #f0e5d8;
$lightest-grey: #d6d6da;
$light-grey: #DCDCDC;
$color-gray-alt: #40494d;
$color-gray-ebb: #f3eff0;
$color-gray-original:#BFBFBF;
$color-gray-alabaster: #f9f9f9;
$color-medium-gray:#C6C8C9;
$color-gray-athens: #eceef3;
$color-gray-concrete: #f2f2f2;
$color-gray-alt2: #e7e7e7;
$color-gray-regular: #858585;
$color-gray-medium:#5c5e68;
$color-gray-dark: #41494E;
$color-gray-racing-post: #4E5457;
$color-blue-dark-var: #203754;
$color-matterhorn: #4E4E4E;
$color-gray-mid: #9da4a8;
$color-gray-mid-alt: #9e9e9e;
$color-gray-dark2: #5a5a5a;
$color-gray-darker: #D7D7D7;
$color-gray-darkest: #2b2b2b;
$color-gray-saturated: #3f494f;
$color-gray-silver: #cccccc;
$color-glacier-white: #E9E9E9;
$color-gray: #E0E2EB;
$color-gray-light: #F9FAFE;
$color-gray-lighter: #d1d6e3;
$color-gray-lightest: #EBEDF2;
$color-lighter-gray: #c4c4c4;
$color-gray-rich: #C0C4CD;
$color-gray-ghost: #c7c7cc;
$color-white: #FFFFFF;
$color-lwhite:#ECECED;
$color-snow: #e8eaf2;
$color-black: #000000;
$color-black-soft: #333333;
$color-black-grey: #333;
$color-black-hard: #0d0d0d;
$color-pink: #E763E2;
$color-tealish: #20ACCF;
$gold-level-text: #494f66;
$color-cobalt: #004696;
$color-violet-light: #c1c9db;
$brand-color-main: $red;
$brand-color-secondary: $red2;
$brand-color-dark: $redDark;
$brand-color-darkest: $redDarkest;
$color-blue-light: $red;
$color-blue-light-2: #4480f3;
$color-blue-light-3: #0076d6;
$color-blue-lighter: $red;
$color-blue-gray: $red;
$color-blue-cornflower: #4da2f9;
$color-orange-light: #E5B800;
$color-bronze: #B78A37;
$color-blue-lightest: #d7eaff;
$color-blue-alt: #4a90e2;
$color-blue-more-light: $color-blue-alt;
$color-platinum: #596e7b;
$color-platinum-light: #e0e2eb;
$madison: $redDark;
$caribbean-green : #0abfa1;
$pink-trendy: #8d5ba1;
$color-red-lightest: #ebe8e8;
$color-nevada: #646668;
$list-arrow-icon-clr: #707070;
$list-title-bg-clr: #e2e2e6;
$color-gray-disabled: #aaaaaa;
$color-very-light-gray: #c7c7c7;
$color-black-betslip:#313131;
/* accordion colors */
$accordion-border-clr: #d6d6da;
$color-gray-shadow: #a2a2a2;
$color-grey-transparent: #CBCBD5;
$color-gray-darker-two: #cccfd9;
$color-gray-fiveaside: #00000080;
$color-gray-border-fiveaside: #828282;
$color-alice-blue: #ecf3fc;
$color-surfacebet-title-bg: #F01E28;
$color-increment: #5a5a5a;
$color-gray-border: #F2F3F4;

/***** Heuristic Designs *****/

/* Footer Menu */

$rock-blue: #9CB3CB;
$blue: #4a90e2;

/***** End Heuristic Design *****/

$rb-link-color: #5da3ec;

/***** Designs colours *****/

$btn-bg-green-color: #8bbd23;
$btn-bg-green-dark: #6a9e00;
$color-green-disabled: #b3ca99;

/***** design colors *****/
$color-green-alt: #8bbd23;
$color-green-cool:#97BB43;
$color-green-darkest: #759C2E;
$input-border-color: #cacaca;
$color-green-racing: #43c577;
$btn-input-color: #ffffff;

$footer-links-bg-color: #363a4d;
$color-green-disabled: #c5de91;

/***** Digital Keyboard *****/
$dk-border-color: $lGrayDark;
$dk-button-color: $lGrayMediumLight;
$dk-font-size: 21px;

/***** TERMS  AND RULES *****/
$color-blue-charcoal: #1a2532;

/***** Fallback scoreboards *****/
$fb-scorebox-bg: $lGrayMediumLight;
$fb-scorebox-bg-alt: #2c2f40;
$fb-score-color: $color-yellow-alt;
$fb-scorebox-border: #373c52;
$fb-home-team-label: #fbc400;
$fb-away-team-label: #35cfe3;
/***** Quickbet *****/
$warning-msg-color: #cff2f8;
/***** Cashout ******/
$bh-gray-color: #f1f1f1;
$info-gray-color: #383838;
$byb-line-color: #74a2f1;

$link-color: $color-blue-alt;

/***** Banners Section Background *****/
$banners-section-color: $lGray-bg;
$banners-title: #004c93;
$banners-subtitle: #f23d47;
/*****Five-A-Side Colors*****/
$color-green-tropical: #028862;
$color-green-bright-turquoise: #00feca;
$color-green-rain-forest: #00775B;
$color-green-watercourse: #006742;
$color-eden: #006742;
$color-green-observatory: #009d64;
$color-green-sea: rgba(0, 100, 77, 0.9);
$color-green-forest: #026850;
$color-yellow-gorse: #fff137;
$color-havelock-blue: #4871C3;
$color-rariner: #3159a7;
$color-green-disabled: #C2DB8F;
$color-green-slow: #549b70;
$color-green-deap: #028d5a;
$color-white-disable: #aacdb8;
$color-green-rain: #40bb98;
$color-shadow: rgba(0, 0, 0, 0.09);
$color-blue-selected: #007aff;
$color-pantone: #3bb589;
$color-dunn-edwards: #017a5e;
$color-cyprus: #1b7c59;
$color-brand-background: $color-white;
$color-table-header-bg: #eaeaea;
$color-horse-form-table-bg: #f7f7f7;
$color-light-white-grey: #e3e3e3;
$color-light-green-leaf: #8bbd23;
$color-border-top-dark-black: #1a2532;
$color-border-bottom-dark-black: #10171b;
$color-bg-black: #0f161a;
$color-amount-green: #8eba32;
$color-grey-separator: #acadaf;
$color-grey-sponsor: #9d9d9d;
$color-red-card-label: #7d0000;
$color-line-separator: #434c55;
$color-showdown-shadow: #0000000d;
$color-card-shadow: #00000026;
$color-card-prize: #daa520;
$color-scrollbar-track: #212629;
$color-scrollbar-thumb: #686868;
$color-scrollbar-webkit: #0000004d;
$color-lobby-desktop: #0f161a;

/* Promotions added colors */
$color-table-hightlight-bg: #E8F2D3;
$color-table-white-bg: #F4F4F4;

/* Showdown added colors */
$color-bluecharcoal:#1a2532;
$color-maingreen:#8bbd23;
$color-gainsboro:#e3e3e3;
$color-mainblue:#5096e4;
$color-cyanblue:#10171b;
$color-darkgrayishblue:#434c55;
$color-softblue:#81c3f3;
$color-black-boxshadow:#0000000d;
$color-black-boxshadowend:#00000026;
$color-black-background:#000000e0;
$color-background-black:#010101;
$color-green:#78b200;
$color-grey:#d6d6d6;
$color-overlay-background:rgba(0, 0, 0, 0.80);
/* Match Rewards added colors */
$how-it-works-bg-color: #063969;
$color-overlay-background:rgba(0, 0, 0, 0.80);
$color-white-light: #f9fafe;
/* cashout messaging added colors */
$color-yellow-medium: #fac031;
$color-blue-medium: #308fe9;
$color-grey-medium: #8f8f8f;
$color-black-medium: #171717;
$color-less-overlay-background:rgba(0, 0, 0, 0.15);
$color-black-light-medium-rgb: rgba(65, 73, 78, 0.35);
$box-shadow-gray: rgba(150, 150, 150, 0.5);

/* Free ride added colors */
$color-red-light: #f30038;
$color-red-dark: #de2b00;
$color-white-disable-btn: #fff;
$color-grey-label: #999;
$color-grey-bg: #EDEDED;
$color-grey-slide : rgba(0, 0, 0, 0.2);
$color-grey-disable : rgba(0, 0, 0, 0.6);
$color-green-slide: #33C658;
$color-green-btn: #82b11f;
$color-green-light: #8ec025;
$color-green-dark: #7dab1e;
/*byb*/
$color-sign-disabled: rgba(0, 122, 255, 0.4);
$color-sign-enabled: #007aff;
$color-green-shade: #8bbd23;
$color-blue-shade-heavy: #284669;
$color-grey-darker-byb: #cccfd9;
$color-grey-darker-byb-2: #ddd;
$color-green-disabled-byb-bkg: #c5de91;
$color-white-light-byb: #E9EBF0;
$color-black-stat-byb: #02060b;
$color-gray-dark-byb: #ddd;
$color-white-byb: #fff3;
$color-white-light-grey-byb: #ffffff4d;
$color-black-byb: #0003;
/*Bet Pack Market Place*/
$color-bpmp-banner-button: #96bb44;
$color-bpmp-card-content: #F6F6F9;
$color-bpmp-card-token: #E5E5E5;
$color-bpmp-betpack-background: #ecf3fc;
$color-bpmp-betpack-token-border: #c9bbbb;

/* Fanzone added colors */
$color-prussian-blue: #013867;
$color-off-white: #e7e9ef;
$color-blue-navy:  #1d3d7e;
$color-blue-home: #3e5c9f;
$color-lime: #96bb44;
$color-black-light-medium: #41494e;
$color-skyblue-light-mf: #E0F6FA;

/* Market Pills added colors */
$market-pills-bg: #f6f6f6;
$market-pills-color: $color-gray-darkest;

$market-template-odds-borders-top:0px solid #E0E2EB;
$market-template-odds-borders-bottom:1px solid #E0E2EB;

/* Non-runner notification colors */
$nonrunner-background-color:#4a90e2;
$extraPlaceMsg-color:#3B3736;
$nonrunner-content-color:#FFFFFF;
$nonrunnerMsg-arrow-size:8px;
$nonrunnerMsg-arrow-size-mob:4px;
$nonrunnerMsg-arrow-bottom:96%;
$EPR-signpost-background:#FAC031;
/*BCH color codes*/
$bch-blue: #102948;
$bch-blue-1 :#08294B;

/* two up color codes */
$twoup-font-color: #5a5a5a;
$ghost-white: #f8f8fa;
$color-ld-steps:rgba(0, 0, 0, 0.8);
$color-ld-mustard: #C4A560;
$color-light-gray:rgba(162, 162, 162, 0.26);
$color-deep-black: #000c;
$color-light-black: #777777;
$color-white-grey: #FFFFF0;
$antepost-btn: #112848;
$header-border-grey-dark: #f9f9f933;
$switcher-grey-lighter: #757780;

$lb-bg-color: #f6f6f6;
$lb-th-bg-color: #E5E5E5;
$lb-coral-color: #093864;
$lb-header-bg-color: #F6F6F9;
$lb-gray-dark-color: #5a5a5a;
$lb-col-coral-color: #102948;
$lb-nav-coral-color: #072A4B;

$ql-arrow-color: #41494D;
$ql-coral-list-name: #3B3F42;

/* profit indicator */
$profit-indicator-color-green: #78B200;

/* quick switch */
$no-events-message-color: #2B2B2B;
$quick-switch-bg-color: #1F4D88;
